.inventoryPreview__box {
  width: 100%;
  height: 489px;
  position: relative;

  display: flex;
  justify-content: center;

  .inventoryPreview__title {
    margin-top: 16px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    user-select: none;
  }
}
