.wallet-block-frame {
  width: 100%;
  border-radius: var(--radius-panel);
  padding: 2px;
  margin: 8px 0;
  transition: all 0.8s ease 0s;

  &.bold {
    padding: 5px 4px;
  }
}

.wallet-block {
  padding: 16px 16px 20px;
  width: 100%;
  transition: all 0.8s ease 0s;
  margin: 8px 0;

  &.framed {
    border: 1px solid var(--color-block-frame);
    padding: 12px;
    margin: 0;

    &.bold {
      border: none;
    }
  }
  &.bold {
  }
  &.bold &-frame {
    border-color: transparent;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.03), 0 1px 4px 0 rgba(0, 0, 0, 0.36);
  }
  &-title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
  }
  :global(.Input__wrapper):last-child {
    margin-bottom: -4px;
  }
}

.footer {
  padding: 10px 16px 5px;
}
