.keys {
  &-copy {
    border: 1px solid var(--color-border);
    border-radius: var(--radius-panel);
    padding: 15px 15px;
    background-color: var(--color-panel);
    display: flex;
    align-items: flex-end;

    &-text {
      font-size: 8px;
      word-spacing: 6px;
      line-height: 1.6em;
    }
    &-icon {
      color: var(--color-primary);
    }
  }
  b {
    color: var(--color-red);
    display: block;
    margin-top: 12px;
  }
}
