.root {
  position: absolute;
  inset: 0;
  z-index: 9;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4px;

  font-size: 24px;
  font-weight: 600;

  background-color: var(--color-bg);
  color: var(--color-text);
}
