.achievements__item {
  display: flex;
  flex-direction: column;
  border-radius: 12px;

  &[aria-label='default'] {
    //border: 1px solid rgba(133, 39, 212, 0.1);
  }

  &[aria-label='complete'] {
    //border: 1px solid #8527d4;
    //box-shadow: 0 1px 0 1px rgba(133, 39, 212, 0.3);
  }

  .top__side {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 12px;
    padding: 10px;

    .info__tooltip {
      position: absolute;
      top: 0;
      right: -10px;

      svg {
        width: 14px;
        height: 14px;
      }
    }

    .levels {
      width: fit-content;
      transform: scaleX(-1);

      & img {
        width: 15px;
        margin-left: -5px;
        transform: scaleX(-1);

        &:first-child {
          margin-left: 0;
        }
      }
    }

    .progress {
      flex: 2;
      display: flex;
      flex-direction: column;
      gap: 4px;

      .title {
        max-width: 200px;
      }

      .reward {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .text {
          //color: var(--color-green-primary);

          span {
            //color: var(--color-text-light);
          }
        }
      }

      .progress__line {
      }
    }

    .opacity {
      opacity: 0.3;
    }
  }

  .bottom__side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;

    .category {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 12px;
      box-shadow: 0 0 0px 1px rgb(131 129 129 / 30%);
      padding: 0 8px;
      height: 40px;
      outline: none;
      cursor: pointer;
      border: solid 1px transparent;

      svg {
        width: 24px;
        height: 24px;
      }

      .text__wrapper {
        display: flex;
        flex-direction: column;
        span {
          line-height: 14px;
        }
      }

      &_selected {
        border: 1px solid #07aa34;
      }
    }

    .opacity {
      svg {
        opacity: 0.3;
      }
    }

    .btn__section {
      .progress {
        color: #a62cff;
      }
    }
  }
}
