.root {
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 40px;
}

.image {
  margin-top: 10px;
  width: 100%;
  height: 380px;
  object-fit: cover;
}

.nft__desc {
  padding: 10px;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
