.root {
  height: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 230px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.connectedText {
  display: flex;
  align-items: center;
  gap: 4px;
}
