.root {
  overflow: hidden;

  .heading {
    text-align: center;

    .description {
      color: var(--color-text-light);
      margin-top: 5px;
    }
  }

  .leveling {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 11px;
  }
}

.btns {
  display: flex;
  gap: 16px;
  //background-color: var(--color-bg);
  padding: 16px 16px 32px;
  z-index: 10000;
}
