.root {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;

  .slot {
    border-radius: 15px;
    border: 1px solid;
  }

  .text {
    color: var(--color-text-light);
  }
}

.disabled {
  opacity: 0.5;
}
