@import '../../../../../styles/layout/wallet';

.token {
  background-color: var(--wallet-image-color);
  //background-image: var(--wallet-image);
  background-position: var(--wallet-image-position);
  background-size: var(--wallet-image-size);
  background-repeat: var(--wallet-image-repeat);
  background-attachment: var(--wallet-image-attachment);
  height: 100%;

  &-header {
    height: var(--size-header);
  }

  &-container {
    //padding: 0px 24px;
    //@include wallet(var(--size-header));
  }

  &-balance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px auto;
  }

  &-icons {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;

    & > * {
      width: 100%;
    }
  }

  &-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 16px 16px 16px;
    margin: 4px;
    cursor: pointer;
    transition: background 0.2s ease 0s;

    &:hover {
      background: rgba(13, 47, 78, 1);
    }
    &-image-wrap {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &:global(.disabled) {
      cursor: default;
      opacity: 0.5;
      pointer-events: none;
    }
    &:global(.disabled) &-image-wrap {
      svg {
        opacity: 0.3;
      }
    }
    &-title {
      font-size: 11px;
      margin-top: -4px;
    }
  }
}
