.weekly {
  .columns {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-light);
    margin-top: 12px;
  }
  .bars {
    display: flex;
    margin-top: 4px;
    gap: 4px;
    height: 8px;
  }
  .item {
    border-radius: 6px;
    height: 8px;
    width: calc(100% / 7);
    min-width: 30px;
  }
}

.token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  cursor: pointer;
  transition: background 0.2s ease 0s;
  box-sizing: content-box;

  &-info {
    display: flex;
    align-items: center;

    &-icon {
      --size: 56px;
      width: var(--size);
      height: var(--size);

      &-star {
        --reduce: -8px;
        --image-size: calc(var(--size) - 2px - var(--reduce));
        width: var(--image-size);
        margin-top: calc(var(--image-size) / (-2));
        margin-left: calc(var(--image-size) / (-2));
      }
      &-box {
        width: 100%;
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 12px;
      font-size: 12px;

      &-symbol {
        font-size: 16px;
        font-weight: 500;
      }
      &-name {
        color: var(--color-text-light);
      }
    }
  }
  &.disabled &-info-icon {
    opacity: 0.5;
  }
}
