.root {
  border-radius: 8px;

  &_fullwidth {
    width: 100%;
  }

  & input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 8px;
    padding: 14px 50px;
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    text-align: center;
    color: white;
    height: 36px;
    outline: none;
    box-shadow: none;
  }
}
