.root {
  display: flex;
  flex-direction: column;

  //background-color: #041222;
  border-radius: 16px;

  hr {
    width: 100%;
    //border-color: rgba(126, 161, 202, 0.1);
    margin: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 17px;
  padding: 16px;

  .icon {
    margin-right: 12px;
  }
}

.header {
  padding: 8px 24px;
  display: flex;
  gap: 8px;

  & > * {
    &:nth-child(1) {
      flex-basis: 20%;
      max-width: 20%;
    }
    &:nth-child(2) {
      flex-basis: 40%;
      max-width: 40%;
    }
    &:nth-child(3) {
      flex-basis: calc(35% - 8px);
      text-align: right;
    }
  }
}

.label {
  font-size: 14px;
  line-height: 21px;
  color: #7ea1ca;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 12px;
}

.row {
  border-radius: 4px;
  padding: 8px 8px 8px 16px;
  height: 60px;

  display: flex;
  gap: 8px;

  & > * {
    &:nth-child(1) {
      flex-basis: 20%;
      max-width: 20%;
    }
    &:nth-child(2) {
      flex-basis: 40%;
      max-width: 40%;
    }
    &:nth-child(3) {
      flex-basis: calc(35% - 8px);
      text-align: right;
    }
  }
}

.rowInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  & > div {
    & > span {
      line-height: 21px;

      &:last-child {
        opacity: 0.5;
      }
    }
  }

  .network__icon {
    width: 16px;
    height: 16px;
  }

  .price__section {
    max-width: 110px;

    .price {
      font-size: 11px;
      //color: var(--color-text);

      & > span {
        white-space: nowrap;
        opacity: 0.5;
      }
    }
  }
}

.rowSeller {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  align-self: center;
  color: #05a5ff;
  width: 80px;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.rowDate {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
  justify-content: flex-end;
}
