.progress__line {
  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4px;

    .name__line {
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 0 4px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
