.root {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.box {
  border: solid 1px transparent;
  border-radius: 24px;
  padding: 2px;
}
.preview {
  width: 80px;
  height: 80px;
  border-radius: 24px;
  border: solid 1px var(--color-border);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4px;
}
.label {
  color: var(--color-text);
  font-size: 12px;
  line-height: 14px;
  font-weight: bold;
}
.selected {
  & .label {
    color: var(--color-main);
  }
  & .box {
    border-color: var(--color-main);
  }
}
