.root {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 12px 16px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled {
  & > span {
    cursor: default;
    opacity: 0.5;
  }
}

.label {
  font-size: 11px;
  margin-top: 4px;
  font-weight: 600;
}
