.root {
  display: flex;
  flex-direction: column;
  position: relative;
}
.inventoryPreview {
  //height: 422px;
  //min-height: 422px;
}
.inventoryItems {
  margin-top: -16px;
  position: relative;
}
