.root {
  padding: 16px 0;
  position: relative;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: 100px;
}

.title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;
}

.summary {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  opacity: 0.5;
  max-width: 250px;
  margin: 4px auto 16px;
}

.list {
  display: flex;
  flex-direction: column;
}

.btn__wrapper {
  padding: 16px;
  text-align: center;
  width: 100%;
}

.paper {
  //background-color: var(--color-bg);
  //color: var(--color-text);
  border-radius: 16px;
  overflow: hidden;
}

.loaderPlaceholder {
  height: 4px;
}
