// Body / App / Container / Page Container

* {
  box-sizing: border-box;
}

:root {
  --z-index-tutorial-overlay: 1299;
  --z-index-tutorial-overlay-main: 1301;
  --z-index-modal: 1300;
  --z-index-tutorial-content: 1303;
}

[data-tc-modal="true"] {
  z-index: 20000 !important;
}

html {
  min-height: 100%;
}

button {
  touch-action: manipulation;
}

body {
  position: relative;
  @include scrollbar();
  margin: 0;
  font-family: $font-text;
  font-size: $fz-default;
  //background-color: $bg-page;
  color: $color-text;
  min-height: 100vh;
  min-height: var(--tg-viewport-stable-height);

  .bp5-toast-container.bp5-toast-container-inline {
    position: fixed;
    z-index: 1000;
  }
}

body {
  --mobile-width: 1024px;
  --size-header: 64px;
  --color-bg: #061930;
  --color-panel: #09203C;
  --color-panel-light: #0d2f4e;
  --color-text: rgba(255,255,255,1);
  --color-text-light: #7EA1CA;
  --color-text-disabled: rgba(0,0,0,0.25);
  --color-button-icon: rgba(255,255,255,0.65);
  --color-button-text: rgba(255,255,255,1);
  --color-button-shadow: #4276f666;
  --color-icon-inactive: rgb(91, 90, 153);
  --color-main: #8527D4;
  --color-main-hover: #B66BFF;
  --color-progress-bar: var(--color-main);
  --color-button-white: #FFFFFF;
  --color-button-white-text: var(--color-main);
  --color-block-frame: rgb(166, 44, 255, 0.4);
  --color-main-disabled: rgba(133, 39, 212, 0.3);
  --color-main-bg: rgba(166, 44, 255, 0.3);
  --color-primary: rgb(7, 170, 52);
  --color-primary-hover: #11d74c;
  --color-primary-disabled: #366b43;
  --color-icon-header: #5B5A99;
  --color-border: rgba(133, 39, 212, 0.3);
  --color-border-history: rgba(126, 161, 202, 0.1);
  --color-green-primary: #07AA34;

  --color-secondary-blue: #011324;

  --radius-panel: 16px;
  --radius-button: 6px;
  --radius-wrapper: 16px;
  --color-red: #f55753;
  --color-wallet-icon: #4E99DE;
  --wallet-balance-bg: rgba(133, 39, 212, 0.1);
  --wallet-image-color: transparent;
  --wallet-image: url("styles/img/wallet-bg2.jpg");
  --wallet-image-position: top;
  --wallet-image-attachment: fixed;
  --wallet-image-size: 100%;
  --wallet-image-repeat: repeat;

  --secondary-background: var(--color-bg);

  --size-scrollbar: 6px;
  --color-scrollbar: rgba(91, 90, 153, 0.2);
  --color-scrollbar-thumb: rgba(122, 121, 204, 0.5);
  --color-scrollbar-hover: rgba(91, 90, 153, 0.4);
  --color-scrollbar-bg: rgba(0,0,0,0);

  --rsbs-bg: var(--color-bg);
  --rsbs-handle-bg: var(--color-text-light);
  --rsbs-backdrop-opacity: 0.75;

  --padding-page-side: 16px;
  --padding-button: 10px;
  --padding-button-large: 16px;
  --padding-button-small: 4px;

  color: var(--color-text);
  background: var(--color-bg);

  &.telegram {
    --size-header: 46px;
  }
  .bp5-drawer {
    background: var(--color-panel);
  }
}

#app {
  min-height: 100vh;
  min-height: var(--tg-viewport-stable-height);
}

.container {
  min-height: inherit;
  overflow-x: hidden;

  @include portrait() {
    height: 100vh;
    height: var(--tg-viewport-stable-height);
  }
}

.auth-logo {
  width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $font-primary;
  color: var(--color-text);
}

h3 {

}

small {
  font-size: 0.8em;
  opacity: 0.7;
}

.module-loading {
  width: 100%;
  height: 100%;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  img {
    margin-bottom: 8px;
  }
}

.module-loading_fullScreen {
  width: 100vw;
  height: 100vh;
  height: var(--tg-viewport-stable-height);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg);
  z-index: 10000;
}
