html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: $font-text;
  font-size: $fz-default;
  background-color: $bg-page;
  color: $color-text;
  min-height: 100vh;
  overflow-y: auto;

  .bp5-toast-container.bp5-toast-container-inline {
    position: fixed;
    z-index: 1000;
  }
}

#app {
  min-height: 100vh;
  display: flex;
  justify-content: stretch;
}

.container, .bp5-portal {
  --mobile-width: 1024px;
  --size-header: 64px;
  --color-bg: #001529;
  --color-panel: #001A32;
  --color-text: rgba(255,255,255,1);
  --color-text-light: #7EA1CA;
  --color-text-disabled: rgba(0,0,0,0.25);
  --color-button-icon: rgba(255,255,255,0.65);
  --color-icon-inactive: rgb(91, 90, 153);
  --color-main: rgb(166, 44, 255);
  --color-main-hover: rgb(182, 107, 255);
  --color-main-disabled: #41275C;
  --color-main-bg: rgba(166, 44, 255, 0.3);
  --color-primary: #20C997;
  --color-primary-hover: #51fabd;
  --color-primary-disabled: #296555;
  --color-icon-header: #5B5A99;
  --color-border: rgb(91, 90, 153);
  --color-border-history: rgba(126, 161, 202, 0.1);
  --radius-panel: 12px;
  --radius-button: 6px;
  --radius-wrapper: 16px;

  --secondary-background: var(--color-bg);

  --size-scrollbar: 6px;
  --color-scrollbar: rgba(91, 90, 153, 0.2);
  --color-scrollbar-hover: rgba(91, 90, 153, 0.4);
  --color-scrollbar-bg: rgba(0,0,0,0);

  &.telegram {
    --size-header: 46px;
  }
}

.container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.auth-logo {
  width: 300px;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: $font-primary;
  color: $color-text;
}

h3 {

}

small {
  font-size: 0.8em;
  opacity: 0.7;
}

.module-loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  justify-self: center;

  img {
    margin-bottom: 8px;
  }
}

.container {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;

  @include portrait() {
    height: 100vh;
  }
}