.page-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    position: relative;
}

.page {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    height: 100vh;

    &-content {
        @include scrollbar();

        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        margin-top: 64px;
        height: calc(100vh - var(--size-header));
        overflow: auto;
        padding-bottom: 40px;
    }
    .telegram &-content {
        margin-top: 0;
        padding-bottom: 0;
        height: calc(100vh);
    }
    &-overlay {
        background: rgba(0,0,0,0.25);
        position: fixed;
        z-index: 9;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .bp5-dark &-menu-button.bp5-button.bp5-minimal {
        position: fixed;
        z-index: 10;
        right: 15px;
        bottom: 15px;
        background: var(--color-panel);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        border: 1px solid var(--color-main);
        box-shadow: 0 4px 10px 0 rgba(146, 44, 255, 0.4);

        &:hover {
            background-color: var(--color-main);
        }
    }
    .bp5-dark &-back-button.bp5-button.bp5-minimal {
        position: fixed;
        z-index: 10;
        left: 15px;
        bottom: 15px;
        background: var(--color-panel);
        border-radius: 50%;
        width: 48px;
        height: 48px;
        border: 1px solid var(--color-main);
        box-shadow: 0 4px 10px 0 rgba(146, 44, 255, 0.4);

        &:hover {
            background-color: var(--color-main);
        }
    }
}

.dashboard {
    &-more {
        text-align: center;
        margin-bottom: 20px;
    }
}