.page-container {
  position: relative;
  max-width: 1920px;
  height: 100%;

  @include tablets() {
    //display: grid;
    //grid-template-columns: $size-sidebar 5fr 0.7fr;
    max-width: 1920px;
    //grid-template-areas:
    //  "header header sidebar"
    //  "content content sidebar"
    //  "content content sidebar";
  }
}

.resize__sidebar {
  //display: grid;
  //grid-template-columns: 1fr 2fr 50px;
  //grid-template-areas:
  //    "header header sidebar"
  //    "content content sidebar"
  //    "content content sidebar";
}

.page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;

  &-content {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    height: 100%;
    //padding-bottom: 40px;

    & > *:first-child {
      @include scrollbar();
      overflow-y: auto;
      height: 100%;
      padding-bottom: calc(64px + 16px);
    }
  }

  .telegram &-content {
    margin-top: 0;
    padding-bottom: 0;
    height: calc(100vh);
    height: var(--tg-viewport-stable-height);
  }

  &-overlay {
    background: rgba(0, 0, 0, 0.25);
    position: fixed;
    z-index: 9;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  .container &-menu-button.bp5-button.bp5-minimal {
    position: fixed;
    right: 25px;
    bottom: 15px;
    background: var(--color-panel);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-main);
    box-shadow: 0 4px 10px 0 rgba(146, 44, 255, 0.4);
    z-index: 9999;

    &:hover {
      background-color: var(--color-main);
    }
  }

  .container &-back-button.bp5-button.bp5-minimal {
    position: fixed;
    z-index: 10;
    left: 15px;
    bottom: 15px;
    background: var(--color-panel);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    border: 1px solid var(--color-main);
    box-shadow: 0 4px 10px 0 rgba(146, 44, 255, 0.4);

    &:hover {
      background-color: var(--color-main);
    }
  }
}

.dashboard {
  &-more {
    text-align: center;
    margin-bottom: 20px;
  }
}
