.sidebar {
  @include scrollbar();
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
  width: $size-sidebar;
  min-width: $size-sidebar;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
  height: 100vh;
  height: var(--tg-viewport-stable-height);
  border-right: 1px solid var(--color-border);

  &.adaptive {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 10000;
    transform: translateX(-100%);
    transition: all 0.2s ease;

    &.is-open {
      transform: translateX(0);
    }
  }

  &-logo {
    cursor: pointer;
  }

  &-section {
    margin-bottom: 14px;

    &:not(:last-child) {
      padding-bottom: 14px;
      border-bottom: 1px solid var(--color-border);
    }

    &-title {
      font-size: 16px;
      padding: 0 20px;
    }

    &-menu {
      margin: 8px 0 0;
      display: flex;
      flex-direction: column;
    }
  }

  a.sidebar-item, .sidebar-item {
    padding: 9px 16px;
    font-size: 16px;
    border-radius: var(--radius-panel);
    display: flex;
    text-decoration: none;
    color: var(--color-text);
    margin: 2px 0;

    .sidebar-item-icon {
      margin-right: 16px;
      color: var(--color-icon-inactive);
      width: 24px;
      font-size: 16px;
    }

    .sidebar-item-icon2 {
      margin-right: 16px;
      color: var(--color-icon-inactive);
    }

    .sidebar-item-title {
      display: block;
      margin-top: 1px;
    }

    &.active {
      background: var(--color-main);
      color: var(--color-button-text);

      .sidebar-item-icon {
        color: var(--color-button-icon);
      }
      .sidebar-item-icon2 {
        color: var(--color-button-icon);
      }
    }

    &.disabled {
      opacity: 0.3;
    }

    &:not(.disabled):not(.active):hover {
      background: rgba(255, 255, 255, 0.15);
      outline: none;

      .sidebar-item-icon {
        opacity: 1;
        color: var(--color-text);
      }
      .sidebar-item-icon2 {
        opacity: 1;
        color: var(--color-text);
      }

      .sidebar-item-title {
        color: var(--color-text);
        text-decoration: none;
      }
    }
  }
}
