@import '../utils/mixins';

@mixin wallet($header-size: 0px) {
  min-height: calc(100vh - $header-size);
  min-height: calc(var(--tg-viewport-height) - $header-size);
  padding: 0 var(--padding-page-side) 0 var(--padding-page-side);

  background-color: var(--wallet-image-color);
  background-image: var(--wallet-image);
  background-position: var(--wallet-image-position);
  background-size: var(--wallet-image-size);
  background-repeat: var(--wallet-image-repeat);
  background-attachment: var(--wallet-image-attachment);

  transition: background 0.8s ease 0s;
}
