.root {
  //border: solid 1px #04172a;
  //background-color: #061930;
  border-radius: 16px;

  :global {
    .MuiDivider-root {
      //background-color: #7ea1ca;
      //opacity: 0.1;
    }
  }
}

.toolbar {
  padding: 15px;
  display: flex;
  justify-content: space-between;

  :global {
    & .MuiSkeleton-root {
      //background-color: #09203c;
    }
  }
}

.content {
  padding: 15px;

  :global {
    & .MuiSkeleton-root {
      //background-color: #001529;
    }
  }
}

.content1 {
  display: flex;
  gap: 16px;
}

.info {
  padding: 15px;
  border-radius: 16px;
  //background-color: #081f3a;
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin-top: 30px;
  margin-bottom: 12px;
}
