.root {
}

.title {
  text-align: center;
}

.caption {
}

p.priceLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  color: var(--color-text) !important;
  text-align: left !important;
  margin-top: 16px !important;
  margin-bottom: 16px;
}

.input {
  box-shadow: none !important;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  width: 100%;
  background-color: transparent;
  padding: 11px 16px;
  outline: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  height: 36px;
  color: var(--color-text);
}

.btnApply {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  padding: 16px;
  margin-top: 16px;
  background-color: var(--color-main);
  box-shadow: 0 9px 24px 0 #ffffff08;
  text-transform: uppercase;
  color: var(--color-text);
  border-radius: 6px;
  outline: none;
  border: none;

  &:disabled {
    background-color: var(--color-main-disabled);
    color: var(--color-text-disabled);
    box-shadow: none;
  }
}

.btnCancel {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  padding: 16px;

  border-radius: 6px;

  border: 1px solid var(--color-main);
  text-transform: uppercase;
  color: var(--color-text);
  outline: none;
  background-color: transparent;
}

.cancelDivider {
  border-color: var(--color-border);
  margin-top: 32px;
  margin-bottom: 24px;
}
