.wrap {
  box-sizing: border-box;

  &.green {
    --color-main: rgba(76, 174, 43, 1);
    --color-block-frame: rgba(79, 183, 44, 0.5);
  }
  &.yellow {
    --color-main: rgba(179, 123, 48, 1);
    --color-block-frame: rgba(179, 123, 48, 0.5);
  }
}

.storage {
  margin-top: var(--margin);

  &:not(:first-child) {
    margin: 10px 0 16px;
  }
  &-status {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text-light);
    font-size: 12px;
    margin: 8px 0;
  }
  &-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;

    &-buttons {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      & > * {
        flex: 1;
      }
      & > *:not(:first-child) {
        margin-left: 8px;
      }
    }
    &-requirements {
      text-align: center;
      color: var(--color-text-light);
      font-size: 12px;
      margin-bottom: 8px;
    }
  }
}

.footer {
  display: flex;
  gap: 8px;
  width: 100%;

  button {
    width: 200px;
  }

  & > * {
    flex: 1;
    width: calc(50% - 4px);
  }
}
