.screen {
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-top: 6px;
    padding: 0 8px;

    & > div:first-child {
      width: 40px;
    }
  }
}
