.create-wallet {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  padding-bottom: 24px;

  &-center {
    //flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0 15px;

    :global(.pixel-button) {
      margin-bottom: 16px;
    }
    :global(.bp5-button-text) {
      font-size: 12px;
    }
  }
  &-logo {
    width: 68px;
    image-rendering: pixelated;
  }
  h1 {
    //font-size: 27px;
    //margin: 16px 0;
  }
  //p {
  //  color: #7ea1ca;
  //  text-align: center;
  //}
  &-recovery {
    position: fixed;
    top: 15px;
    right: 15px;
    color: var(--color-main);
    font-size: 14px;
    cursor: pointer;
    padding: 8px 0;
    text-decoration: underline;

    &:hover {
      color: var(--color-text);
    }
  }

  &-mnemonic {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15px;
    padding-bottom: 24px;

    h1 {
      //padding: 0 16px;
    }
    p {
      //padding: 0 16px;
      //margin-bottom: 20px;
    }
    &-copy {
      border: 1px solid var(--color-border);
      border-radius: var(--radius-panel);
      padding: 15px 15px;
      background-color: var(--color-panel);
      display: flex;
      align-items: flex-end;

      &-text {
        font-size: 16px;
        word-spacing: 6px;
        line-height: 1.6em;
      }
      &-icon {
        color: var(--color-primary);
      }
    }
  }
}
