.root {
  display: flex;
  height: 100vh;
}

.sidebar__area {
  position: relative;
  flex: 0;
  width: fit-content;
}

.content {
  flex: 1;
  width: 100%;
}

.header__area {
  position: relative;
  //grid-area: header;
  z-index: 10;
}

.content__area {
  position: relative;
  //grid-area: content;
  //min-height: 100vh;
  height: 100%;
  overflow: hidden;
}
