.cell {
  $c: &;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 12px;
  background: rgba(0, 0, 0, 30%);
  border: solid 1px rgba(255, 255, 255, 30%);
  color: white;
  z-index: 1;

  width: 48px;
  height: 48px;

  position: absolute;
  cursor: pointer;
  overflow: hidden;

  &_cellRobot {
    border-color: #4e99de;
    background: #001529;
    color: #4e99de;

    &-empty {
      border: solid 1px rgba(255, 255, 255, 30%);
    }

    &-locked {
      background: rgba(13, 121, 223, 20%);

      & svg {
        color: white;
      }
    }
  }

  &-locked {
    & svg {
      opacity: 0.5;
    }
  }

  &-empty {
    background: rgba(166, 44, 255, 30%);
    border: solid 1px rgba(255, 255, 255, 30%);
  }

  & svg {
    width: 24px;
    height: 24px;
  }

  & img {
    width: 48px;
    height: 48px;
  }

  &_large {
    width: 56px;
    height: 56px;

    & svg {
      width: 30px;
      height: 30px;
    }
  }
}

.cellItems__wrapper {
  width: 100vw;
  height: 100%;

  .empty__items {
    display: flex;
    justify-content: center;
    margin-top: 34px;
  }

  .elements__list {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0 24px;
    transform: scale(0.9);
    margin-top: -14px;
    margin-inline: -24px;

    .item__wrapper {
      color: white;
      text-align: center;
      text-decoration: none;
      height: 100%;
    }
  }
}
