.root {
  //background-color: #0f071e;
  padding: 16px 0;
  height: 100%;
}

.title {
  margin-bottom: 8px;
}

.projectsTitle {
  margin-bottom: 8px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
