.token-header {
  height: var(--size-header);
  //background: var(--color-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-title {
    display: flex;
    align-items: center;

    &-icon {
      height: 30px;
      width: 30px;
      overflow: hidden;
      border: 1px solid rgba(13, 47, 78, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      img {
        width: 32px;
      }
    }
    &-symbol {
      font-size: 14px;
      margin-left: 8px;
      font-weight: 700;

      display: flex;
      align-items: center;
      gap: 4px;
    }
  }
  &-price {
    //color: var(--color-text-light);
    font-size: 14px;

    :global(.bp5-icon) {
      color: var(--color-main);
      transform: translateY(-2px);
      margin-right: 2px;
    }
  }
}
