.content {
  .swap__container {
    background: #27262c;
    padding: 16px;

    .swap__form {
      .user__balance {
        color: gray;
        margin-bottom: 9px;

        span {
          color: var(--color-text);
        }
      }

      .form__content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        .from__currency {
          position: relative;

          button {
            position: absolute;
            right: 0;
          }

          .from__select {
          }
        }

        .separator {
          display: flex;
          gap: 22px;
          align-items: center;

          .hr {
            height: 1px;
            width: 100%;
            background: #1d1c20;
          }
        }

        .to__currency {
          .to__select {
          }
        }
      }
    }
  }

  .exchange__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
  }
}
