@import '../../../../../styles/layout/wallet';

.friends {
  background-color: var(--wallet-image-color);
  //background-image: var(--wallet-image);
  background-position: var(--wallet-image-position);
  background-size: var(--wallet-image-size);
  background-repeat: var(--wallet-image-repeat);
  background-attachment: var(--wallet-image-attachment);
  padding: 16px 0;

  padding-bottom: 60px;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    &-amount {
      font-weight: 700;
      font-size: 14px;
      display: flex;
      justify-content: center;
      gap: 24px;
    }
    &-parent {
      margin-top: 12px;
      display: flex;
      justify-content: center;
      gap: 24px;
      font-weight: 700;
      font-size: 14px;
    }
    p {
      color: var(--color-text-light);
      max-width: 300px;
      text-align: center;
      margin: 12px 0;

      a {
        color: var(--color-main);
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      .fiendsStats {
        text-align: left;
        justify-self: center;
      }
      b {
        color: var(--color-text);
      }
      span {
        color: var(--color-primary);
        font-weight: bold;
      }
    }
  }

  &-title {
    //padding-left: 24px;
    font-size: 13px;
    margin: 8px 0;
    font-weight: 600;
    //display: flex;
    //justify-content: space-between;
    //align-items: center;
  }
  &-block {
    display: flex;
    flex-direction: column;
    min-height: 64px;
  }
  &-no-friends {
    color: var(--color-text-light);
    font-size: 14px;
    height: 140px;
  }
  &-list {
    position: relative;
    width: 100%;
  }
  &-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &:not(:last-child) {
      padding-bottom: 8px;
      border-bottom: 1px solid var(--color-border-history);
      margin-bottom: 8px;
    }
    &-data {
      display: flex;
      align-items: center;

      &-icon {
        --size: 48px;
        width: var(--size);
        height: var(--size);
        overflow: hidden;
        border-radius: 50%;
        margin-right: 8px;

        img {
          width: var(--size);
        }
      }
      &-text {
        line-height: 1.6em;
      }
      &-action {
        font-size: 14px;
        font-weight: 600;
        display: block;
        //color: var(--color-text);
        text-decoration: none;

        &:hover {
          color: var(--color-main);
        }
      }
      &-date {
        font-size: 11px;
        color: var(--color-text-light);
      }
    }
    &-values {
      text-align: right;

      &-amount {
        font-size: 14px;
        font-weight: 600;
        color: #07aa34;

        &:global(.negative) {
          color: #e62058;
        }
      }
      &-gas {
        font-size: 11px;
        color: var(--color-text-light);

        :global(.bp5-icon) {
          color: var(--color-main);
          opacity: 0.75;
          transform: translateY(-2px);
        }
      }
    }
  }
}

.amount {
  font-size: 14px;
  font-weight: 600;
  color: #07aa34;
}
