.root {
  padding: 11px 16px;
  display: flex;
  align-items: center;
  gap: 12px;
  border-radius: 0;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.lbContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}
