.root {
  :global {
    & .MuiDialogContent-root {
      overflow-y: scroll;
    }
  }
}

.title {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 6px;
}

.footer {
  padding: 12px 24px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
