@import '../../../../../styles/layout/wallet';

.build {
  @include wallet();

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    &-logo {
      img {
        width: 32px;
        filter: blur(0);
        transform: translateZ(0);
        image-rendering: pixelated;
      }
    }
    &-balance {
      font-weight: 700;
      font-size: 40px;
      margin: 0 0;
    }
    &-mined {
      &-storage {
        color: var(--color-text-light);
        span {
          color: var(--color-text);
        }
      }
    }
  }
}

.token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease 0s;

  &:hover {
    //background: var(--color-main-hover);
  }
  &-info {
    display: flex;
    align-items: center;
    --icon-size: 80px;

    &-icon {
      width: var(--icon-size);
      height: var(--icon-size);
      background: var(--color-bg);
      border: 1px solid var(--color-border);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: calc(var(--icon-size) - 2px);
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 8px;
      font-size: 12px;

      &-symbol {
        font-weight: 600;
        font-size: 14px;
      }
      &-name {
        color: var(--color-text-light);
        margin: 4px 0;
      }
      &-params {
        display: flex;

        &-item {
          display: flex;
          align-items: center;
          gap: 3px;

          & > span {
            display: flex;
            gap: 6px;
          }

          :global(.bp5-icon) {
            color: var(--color-main);
            margin-right: 4px;
          }
          &:not(:first-child) {
            margin-left: 4px;
            padding-left: 4px;
            border-left: 1px solid rgba(255, 255, 255, 0.2);

            :global(.bp5-icon) {
              color: var(--color-main);
              margin-right: 2px;
            }
          }

          &-price {
            display: flex;
            gap: 8px;

            & > span:nth-child(2) {
              color: var(--color-green-primary);
            }
          }

          span {
            span {
              color: var(--color-text-light);
            }
          }
        }
      }
    }
  }
  &-balance {
    display: flex;
    align-items: center;

    &-action {
      padding: 16px 16px;
      margin-right: -16px;
    }
  }
}

.upgrade {
  :global(.bp5-icon) {
    margin: 4px 0;
    color: var(--color-text-light);
  }
  &-tokens {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &-token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: background 0.2s ease 0s;
    width: 100%;
    border: 1px solid var(--color-main);

    &:first-child {
      box-shadow: 0 9px 24px 0 rgba(66, 118, 246, 0.4);
    }
    &-info {
      display: flex;
      align-items: center;
      --icon-size: 64px;

      &-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        background: var(--color-bg);
        border: 1px solid var(--color-border);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: calc(var(--icon-size) - 2px);
        }
      }
      &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 8px;
        font-size: 12px;

        &-level {
          color: var(--color-text-light);
          margin-bottom: 2px;
        }
        &-text {
          font-size: 16px;
          font-weight: 600;

          &_speed {
            font-size: 14px;
          }

          &_bonus {
            font-size: 11px;
            color: var(--color-green-primary);
          }
        }
      }
    }
  }
  &-cost {
    color: var(--color-text-light);
    font-size: 22px;
    font-weight: 700;
    margin-top: 12px;
    display: flex;
    align-items: center;

    img {
      margin-right: 8px;
      width: 24px;
    }
  }
}
