.add {
  &-rarity-tag {
    text-align: right;
    width: 150px;
  }
  &-columns {
    display: flex;
    align-items: flex-start;

    & > *:not(:first-child) {
      margin-left: 20px;
    }
  }
  &-type {
    margin: 20px 0;

    :global(.bp5-popover-target) {
      position: relative;

      :global(.bp5-button) {
        width: 100%;
      }
    }
  }
  &-items {
    margin: 40px 0;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    & > * {
      margin: -70px -46px;
      transform: scale(0.6);
      transition: all 0.2s ease 0s;
      cursor: pointer;

      &:hover {
        transform: scale(0.65);
      }
    }
  }
  &-divider {
    margin: 12px 0;
  }
  &-types {
    display: flex;
    flex-wrap: wrap;

    & > * {
      margin: 8px 4px;
    }
  }
}
