.root {
}

.title {
  text-align: center;
}

.caption {
  text-align: center;
}

.priceBox {
  display: flex;
  flex-direction: column;
}

.prices {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;

  & > span:first-child {
    color: var(--color-text-light);
  }
}

.priceUsd {
  font-size: 12px;
}

.priceLabel {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  opacity: 0.5;
}

.button {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
  padding: 16px;
  margin-top: 16px;
  background-color: var(--color-main);
  box-shadow: 0 9px 24px 0 #ffffff08;
  text-transform: uppercase;
  color: var(--color-text);
  border-radius: 6px;
  outline: none;
  border: none;
}

.nft {
  display: flex;
  justify-content: center;
}
