.root {
}

.title {
  text-align: center;
}

.caption {
  text-align: center;
}

.priceBox {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.prices {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;

  & > span:last-child {
    opacity: 0.5;
    font-size: 16px;
  }
}

.priceLabel {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  opacity: 0.5;
}

.button {
}

.nft {
  display: flex;
  justify-content: center;
}
