.transaction__content {
  .currencies__section {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr 2fr;

    .from__aria,
    .to__aria {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .network {
      }
      .center__section {
        display: flex;
        align-items: center;
        gap: 32px;

        .dots {
          display: flex;
          align-items: center;
          gap: 2px;

          div {
            width: 10px;
            height: 10px;
            margin: 0 5px;
            border-radius: 50%;
            background-color: var(--color-main);
            transition: 0.3s ease-in-out;
            animation: blink 1.5s infinite;
          }

          div:nth-child(1) {
            animation-delay: 0s;
          }

          div:nth-child(2) {
            animation-delay: 1s;
          }

          div:nth-child(3) {
            animation-delay: 2s;
          }
        }
      }
    }
    .to__aria {
    }
  }

  .recipient {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    margin-top: 22px;

    .title {
      color: gray;
    }
  }

  .fee__section {
    box-shadow: 0 2px 6px 0 #00000040;
    border: 1px solid #ffffff1a;
    border-radius: 16px;
    padding: 12px 16px;
    margin-top: 20px;

    .fee__row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4px;
    }
  }

  .confirm__check {
    display: flex;
    align-items: center;
    padding-top: 12px;
  }
}

.btns {
  display: flex;
  gap: 16px;
  background-color: var(--color-bg);
  padding: 16px 16px 32px;
  z-index: 10000;

  & > * {
    flex: 1;
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
  }
}

@keyframes blink {
  0%,
  20% {
    opacity: 1;
  }
  30%,
  50% {
    opacity: 0;
  }
  60%,
  100% {
    opacity: 1;
  }
}
