.rank {
  position: relative;

  .rankItem__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .rank__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84px;
    height: 104px;
    background: black no-repeat center;
    background-size: cover;
    border-radius: 12px;
    border: 1px solid rgba(78, 153, 222, 0.2);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;

    &.done {
      border: 1px solid #8527d4;
    }

    .rankItem__checkbox {
      position: absolute;
      background: #07aa34;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      bottom: 24px;
      right: 4px;
      border-radius: 50%;
    }
  }

  .rankItem__status {
    border-radius: 4px;
    padding: 1px 6px;

    .progress__section {
      .points {
        span {
          font-size: 0.5rem;
        }
      }
    }
  }
}
