.root {
  font-size: 14px;
  font-weight: 500;
  line-height: 14.5px;
  padding: var(--padding-button);
  border-radius: 6px;
  outline: none;
  border: none;
  cursor: pointer;
  color: var(--color-text);
  background-color: var(--color-main);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);

  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    box-shadow: 0 9px 24px 0 var(--color-button-shadow);
  }
}

.large {
  padding: var(--padding-button-large);
}

.small {
  padding: var(--padding-button-small);
}

.primary {
  background-color: var(--color-primary);
}

.white {
  background-color: var(--color-button-white);
  color: var(--color-button-white-text);
}

.contained {
  &.primary {
    color: white;
  }
}

.outlined {
  border: 1px solid var(--color-main);

  &.primary {
    background-color: transparent;
    border: 1px solid var(--color-primary);
    color: white;
  }
}

.fullWidth {
  width: 100%;
  flex-grow: 1;
}
