.nftTypeIcon {
  $c: &;

  width: 24px;
  height: 24px;

  & > div {
    width: 100%;
    height: 100%;
    border: solid 2px white;
    border-radius: 100%;
    background-color: #0e1f3c;
    padding: 2px;

    & svg {
      width: 100%;
      height: 100%;
      color: inherit;
    }
  }

  &_compact {
    & svg {
      width: 100%;
      height: 100%;
      color: inherit;
    }
  }

  &_border {
    border-radius: 100%;
    border: solid 2px #0e1f3c;
  }

  &_small {
    width: 20px;
    height: 20px;
  }
}
