@keyframes backInUp {
  0% {
    transform: translateY(1200px);
  }
  90% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .cards__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
  }
}
