.root {
  padding: 12px 16px;
}

.box {
  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  min-height: 56px;
  min-width: 56px;
  object-fit: contain;

  & svg {
    font-size: 36px;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  text-align: left;
  word-break: break-word;
}

.completedText {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #7ea1ca;
}

.completed {
  color: #07aa34;
}

.unAvailable {
  opacity: 0.4;
}
