.root {
  display: flex;
  flex-direction: column;

  //background-color: #041222;
  //box-shadow: 0px 1px 0px 0px #ffffff08 inset;
  border-radius: 16px;

  hr {
    width: 100%;
    border-color: rgba(126, 161, 202, 0.1);
    margin: 0;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 17px;
  padding: 16px;

  .icon {
    margin-right: 12px;
  }
}

.header {
  padding: 8px 24px;
  display: flex;

  & > * {
    &:nth-child(1) {
      flex-basis: 50%;
    }
    &:nth-child(2) {
      flex-basis: 25%;
    }
    &:nth-child(3) {
      flex-basis: 25%;
      text-align: right;
    }
  }
}

.label {
  font-size: 14px;
  line-height: 21px;
  color: #7ea1ca;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 12px;
}

.row {
  border-radius: 4px;
  padding: 8px 8px 8px 16px;
  //background-color: transparent;

  display: flex;
  gap: 8px;

  & > * {
    &:nth-child(1) {
      flex-basis: 50%;
      max-width: 50%;
    }
    &:nth-child(2) {
      flex-basis: 25%;
      max-width: 25%;
    }
    &:nth-child(3) {
      flex-basis: 25%;
      text-align: right;
    }
  }
}

.rowInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  & > div {
    & > span {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      &:last-child {
        opacity: 0.5;
      }
    }
  }

  .network__icon {
    width: 16px;
    height: 16px;
  }
}

.rowQuantity {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  align-self: center;
}

.btnBuy {
  & svg {
    width: 20px;
    height: 20px;
  }
}

.value {
  word-break: break-all;

  & > span {
    white-space: nowrap;
    opacity: 0.5;
  }
}
