.inventoryItems {
  width: 100%;

  display: flex;
  flex-direction: column;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  //background: rgba(46, 11, 75, 0.60);
  stroke-width: 1px;
  //stroke: rgba(133, 39, 212, 0.10);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  //backdrop-filter: blur(6px);
  z-index: 1;

  .tabs__wrapper {
    padding: 0 16px;
  }
}
