.root {
  height: 100%;
  position: relative;
  background-size: cover;
  padding-bottom: 60px;
  width: 100%;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 0 16px;
    margin-top: 16px;
  }

  .items__container {
    //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    width: 100%;
    //height: 100%;
    border-radius: 10px;
  }
}

.title {
  margin: 0;
  text-align: center;
}

.loadingPlaceholder {
  height: 4px;
}
