.upgrade {
  :global(.bp5-icon) {
    margin: 4px 0;
    color: var(--color-text-light);
  }
  &-tokens {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  &-token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.2s ease 0s;
    width: 100%;
    //border: 1px solid var(--color-main);
    padding: 8px;

    &:first-child {
      //box-shadow: 0 9px 24px 0 rgba(66, 118, 246, 0.4);
    }
    &-info {
      display: flex;
      align-items: center;
      --icon-size: 64px;

      &-icon {
        width: var(--icon-size);
        height: var(--icon-size);
        background: var(--color-bg);
        border: 1px solid var(--color-border);
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: calc(var(--icon-size) - 2px);
        }
      }
      &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 8px;
        font-size: 12px;

        &-level {
          color: var(--color-text-light);
          margin-bottom: 2px;
        }
        &-text {
          font-size: 16px;
          font-weight: 600;

          &_speed {
            font-size: 14px;
          }

          &_bonus {
            font-size: 11px;
            color: var(--color-green-primary);
          }
        }
      }
    }
  }
  &-cost {
    color: var(--color-text-light);
    font-size: 22px;
    font-weight: 700;
    margin-top: 12px;
    display: flex;
    align-items: center;
    gap: 4px;

    img {
      margin-right: 8px;
      width: 24px;
    }
  }
}
