.tutorial__inner {
  position: relative;
  height: 100%;
  width: 100%;

  .content__tutorial {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 16px;
    height: 80%;
  }
}
