.tutorial__screen {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .info__section {
    position: absolute;

    .info__text {
      //position: absolute;
      //top: 50%;
      //left: 50%;
      //transform: translate(-50%, -50%);
      //color: black;
      //width: 100%;
      //padding: 8px;
      //text-align: center;
    }

    .info__text > span {
      font-weight: bold;
    }
  }

  .confirm__section {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    background: #121620;
    box-shadow: 0 1px 0 0 #FFFFFF08 inset;
  }
}