.chain {
  &-button {
    width: 40px;
    height: 40px;
    min-width: 40px;
    max-width: 40px;
    max-height: 40px;
    background: var(--color-panel);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0;

    &_absolute {
      position: absolute;
      right: 12px;
      top: 8px;
      z-index: 2;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: scale(1.1);
    }
  }
  &-chains {
    margin: 32px -24px 0;
    width: 100vw;
  }
  &-item {
    display: flex;
    align-items: center;
    padding: 12px 32px;
    justify-content: flex-start;
    width: 100%;
    cursor: pointer;

    .chainMiningIcon {
      margin-left: auto;
      padding-left: 10px;

      svg {
        width: 36px;
        height: 36px;
      }
    }

    &:not(.active) {
      border-top: 1px solid rgba(126, 161, 202, 0.1);
    }
    &.disabled {
      //opacity: 0.7;
    }
    &.active {
      //background: var(--color-bg);
    }
    &.active + & {
      border-top: none;
    }
    &-image {
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: 1px solid rgba(13, 47, 78, 1);
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--color-bg);
      margin-right: 20px;
      overflow: hidden;

      img {
        max-width: 56px;
        max-height: 56px;
      }
    }
    &-title {
      font-size: 14px;
      font-weight: 600;
    }
    &-active {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
    }
  }
}
