@import '../../../../../styles/layout/wallet';

.root {
  //left: 0px;
  //right: 0px;
  //position: fixed;
  //bottom: 0px;
  //z-index: 1;
  padding: 0px 8px 0px;
  border-radius: 8px;
  margin-top: 48px;
}

.mining {
  //@include wallet();
  box-sizing: border-box;
  position: relative;

  padding: 0 var(--padding-page-side) 0 var(--padding-page-side);
  background-color: var(--wallet-image-color);
  background-image: var(--wallet-image);
  background-position: var(--wallet-image-position);
  background-size: var(--wallet-image-size);
  background-repeat: var(--wallet-image-repeat);
  background-attachment: var(--wallet-image-attachment);

  transition: background 0.8s ease 0s;

  &-countdown-title {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  &-countdown {
    font-size: 32px;
    font-family: 'Toxigenesis', sans-serif;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-countdown-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;

    &-logo {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      & > img {
        width: 32px;
        filter: blur(0);
        transform: translateZ(0);
        image-rendering: pixelated;
      }
    }
    &-balance {
      font-weight: 700;
      font-size: 40px;
      margin: 0 0;
    }
    &-mined {
      &-storage {
      }
      &-gasless,
      &-gas,
      &-empty {
        margin-left: 12px;
        cursor: pointer;

        & > :global(.bp5-icon) {
          margin-right: 4px;
        }
        & > span {
          & > :global(.bp5-icon) {
            margin-left: 4px;
            color: var(--color-text-light);
          }
        }
      }
      &-gasless {
        color: var(--color-primary);
      }
      &-gas {
        color: var(--color-text-light);
      }
      &-empty {
        color: var(--color-red);
      }
    }
  }

  &-storage {
    margin-top: var(--margin);

    &-text {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 8px;
      padding: 0 2px;
      &:not(:first-child) {
        margin-top: 8px;
      }

      &-title {
      }
      &-status {
        color: var(--color-text-light);
        font-size: 11px;
      }
    }
    &-bar {
      height: 14px;
      width: 100%;
      border-radius: 6px;
      background: var(--color-bg);
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03), inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
      padding: 3px;

      &-progress {
        background: var(--color-main);
        height: 8px;
        border-radius: 4px;
        width: 0;
      }
      &-referral {
        background: var(--color-primary);
        height: 8px;
        border-radius: 4px;
        width: 0;
      }
    }
    &-actions {
      display: flex;
      flex-direction: column;
      align-items: center;

      &-speed {
        font-size: 13px;
        color: var(--color-text-light);
        margin: 16px 0;
      }
      &-buttons {
        display: flex;
        align-items: center;
        justify-content: center;

        & > *:not(:first-child) {
          margin-left: 8px;
        }
      }
    }
  }

  &-buttons {
    //margin-top: -24px;
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 90px;
    //border-radius: 16px;
    //background: var(--color-panel);
  }

  &-button {
    position: relative;
    height: 64px;
    //background: linear-gradient(180deg, var(--color-main-bg) 0%, var(--color-panel) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    flex-grow: 1;
    cursor: pointer;
    --radius: 16px;

    &:not(:first-child) {
      margin-left: 1px;
    }
    &:first-child {
      border-top-left-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }
    &:last-child {
      border-top-right-radius: var(--radius);
      border-bottom-right-radius: var(--radius);
    }
    &-icon {
      position: relative;

      &:before {
        content: '';
        display: block;
        width: 32px;
        height: 32px;
        position: absolute;
        border-radius: 50%;
        box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.66), inset 0 6px 12px 0 rgba(0, 0, 0, 0.66);
        z-index: 1;
        left: 50%;
        margin-left: -16px;
        top: -16px;
      }
      img {
        transition: all 0.2s ease;
        width: 64px;
        z-index: 2;
        position: absolute;
        left: 50%;
        top: -12px;
        margin-left: -32px;
      }
    }
    &-text {
      position: absolute;
      bottom: 12px;
      left: 0;
      right: 0;
      top: 50px;
      text-align: center;
    }

    &:global(.disabled) {
      cursor: default;
    }
    &:global(.disabled) &-text {
      opacity: 0.5;
    }
    &:global(.disabled) &-icon {
      opacity: 0.5;
    }
    &:hover:not(:global(.disabled)) &-icon img {
      top: -32px;
    }
  }
}

.token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease 0s;

  &-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &-icon {
      --size: 56px;
      width: var(--size);
      height: var(--size);
      min-width: var(--size);
      min-height: var(--size);
      background: var(--color-bg);
      border: 1px solid var(--color-main);
      border-radius: 12px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      &-star {
        position: absolute;
        left: 50%;
        top: 50%;
        --reduce: -8px;
        --image-size: calc(var(--size) - 2px - var(--reduce));
        width: var(--image-size);
        margin-top: calc(var(--image-size) / (-2));
        margin-left: calc(var(--image-size) / (-2));
      }
      &-box {
        position: absolute;
        left: 50%;
        top: 50%;
        --reduce: 8px;
        --image-size: calc(var(--size) - 2px - var(--reduce));
        width: var(--image-size);
        margin-top: calc(var(--image-size) / (-2));
        margin-left: calc(var(--image-size) / (-2));
      }
      &-normal {
        width: var(--image-size);
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 12px;
      font-size: 12px;

      &-symbol {
        font-size: 16px;
        font-weight: 500;
      }
      &-name {
        color: var(--color-text-light);
      }
    }
  }
  &-balance {
    display: flex;
    align-items: center;

    &-action {
      padding: 16px 16px;
      margin-right: -16px;

      :global(.pixel-button) {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }
  &.disabled {
    background: var(--color-bg);
    cursor: default;
  }
  &.disabled &-info-icon {
    opacity: 0.5;
  }
  &.disabled &-balance {
    //opacity: 0.5;
    pointer-events: none;
  }
}
