.inventoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  &:global {
    &.selected {
    }
  }

  .inventoryItem__box {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 12px;
    border: solid 1px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    video {
      min-width: 100%;
      min-height: 100%;
    }

    .card_soulbound {
      position: absolute;
      right: -1px;
      top: -1px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0a2e3b;

      .souldbound__inner {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0e1f3c;
        border: 1px solid;
        color: #ffffff;

        svg {
          --slot-size: 15px;
          width: var(--slot-size);
          height: var(--slot-size);
        }
      }
    }

    .card_slot {
      position: absolute;
      right: -1px;
      bottom: -1px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #0a2e3b;

      .slot__inner {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #0e1f3c;
        border: 1px solid;
        color: #ffffff;

        svg {
          --slot-size: 15px;
          width: var(--slot-size);
          height: var(--slot-size);
        }
      }
    }
  }

  .inventoryItem__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4px;
  }

  .inventoryItem__count {
    color: var(--color-primary);
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
  }

  .inventoryItem__label {
    font-size: 12px;
    line-height: 14px;
    word-break: break-word;
  }
}

.selected {
  & > .inventoryItem__box {
    outline: var(--color-main);
    outline-style: solid;
    outline-width: 1px;
    outline-offset: 2px;
  }
}
