.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow: hidden;
}

.dialog {
  max-height: 85vh;
  height: 85vh;
}

.title {
  font-size: 16px;
  font-weight: 600;
  text-align: left !important;
}

.statusBox {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.statusBtn {
  padding: 11px 16px;
  border: 1px solid var(--color-border);
  background-color: transparent;
  color: var(--color-text);
  outline: none;

  font-size: 16px;
  font-weight: 600;
  line-height: 14px;

  border-radius: 8px;

  &_selected {
    background-color: var(--color-wallet-icon);
    border-color: var(--color-wallet-icon);
  }
}

.priceMinMax {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;

  & > * {
    flex: 1;

    &:nth-child(2) {
      font-weight: 600;
      text-align: center;
      font-size: 16px;
      line-height: 14px;
      max-width: 40px;
    }
  }
}

.btns {
  display: flex;
  gap: 16px;
  //background-color: var(--color-bg);
  padding: 16px 16px 32px;
  z-index: 10000;

  & > * {
    flex: 1;
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
  }
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > * {
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
  }
}

.checkboxes_2cols {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;

  & > * {
    flex-basis: calc(50% - 6px);
    max-width: calc(50% - 6px);
  }
}

.checkbox__wrapper {
  display: flex;
  align-items: center;

  .checkbox {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  .checkbox__label {
    display: flex;
    gap: 4px;
    align-items: center;
  }
}
