.root {
}

.dialog {
  max-height: 65vh;
  height: 65vh;
}

.formControl {
  display: flex;
  flex-direction: column;
  gap: 10px;

  :global {
    & .MuiFormControlLabel-label {
      & span {
        font-size: 12px;
        line-height: 14px;
        color: #7ea1ca;
        font-weight: 400;
      }
    }
  }
}

.row {
  display: flex;
  flex-direction: column;
}

.prizeLabel {
  color: #7ea1ca;
  padding-left: 32px;

  &:global {
    &.MuiTypography-root {
      margin-top: -4px;
      display: flex;
      gap: 4px;
    }
  }
}
