.tutorial {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  //background: rgba(0, 0, 0, 0.73);
  z-index: 1200;
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 1s;

  &.over {
    //background: rgba(0, 0, 0, 0.73);
    bottom: 60%;
    z-index: var(--z-index-tutorial-overlay-main);
    //box-shadow: 0 30px 130px rgba(0, 0, 0, 0.99);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
