.addresses {
  margin: 20px 0;

  &-copy {
    &-content {
      display: block;
      margin: 8px 0;

      b {
        margin-right: 8px;
        font-size: 12px;
      }
      span {
        cursor: pointer;
      }
      :global(.bp5-icon) {
        margin-left: 8px;
        color: var(--color-main);
        transform: translateY(-2px);
      }
    }
  }
}
