@import '../../../../../styles/layout/wallet';

.transfer {
  background-color: var(--wallet-image-color);
  //background-image: var(--wallet-image);
  background-position: var(--wallet-image-position);
  background-size: var(--wallet-image-size);
  background-repeat: var(--wallet-image-repeat);
  background-attachment: var(--wallet-image-attachment);
  height: 100%;

  &-container {
    padding: 24px 0px;

    h1 {
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      margin: 16px auto 12px;
    }
  }

  &-scan {
    margin-right: -8px;
  }
  &-max {
    margin-right: -8px;
  }
}
