.toolbarPanel__skeleton {
  display: grid;
  height: 90px;
  background: var(--color-panel);
  margin-top: 16px;
  //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;

  .skeleton {
    height: 100%;
    border: 1px solid #152d4a;
  }
}

.toolbar__panel {
  height: 90px;
  margin-top: 16px;
  //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;

  .panel__nav {
    display: flex;
    align-items: center;
    height: 100%;

    .nav__item {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 19px 0;
      width: 100%;
      outline: none;

      .icon {
        width: 50px;
        height: 50px;
      }
    }
  }
}
