.image__wrapper {
  flex: 1;
  width: 68px;
  height: 68px;
  max-width: 68px;
  border-radius: 16px;

  .image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    border: 1px solid #07aa34;
    object-fit: contain;
  }
}
.opacity {
  opacity: 0.3;
}
