body.chain1444673419 {
  --color-main: #FFFFFF;
  --color-main-hover: #A3F8DA;
  --color-primary: #A3F8DA;
  --color-main-disabled: rgb(79, 0, 25);
  --color-main-bg: #A3F8DA;
  --color-block-frame: rgba(143, 143, 143, 1);
  --color-border: rgba(16, 72, 249, 0.4);
  --wallet-balance-bg: rgba(143, 143, 143, 0.1);
  --color-button-icon: rgba(0,0,0,0.65);
  --color-button-text: #000;
  --color-bg: #000000;
  --color-panel: rgba(25, 25, 25, 1);
  --color-panel-light: rgba(25, 25, 25, 1);
  --color-progress-bar: #1048F9;
}
