body.chain1291 {
  --mobile-width: 1024px;
  --size-header: 64px;
  --color-bg: rgba(243, 243, 243, 1);
  --color-panel: #fff;
  --color-panel-light: #bebebe;
  --color-text: black;
  --color-text-light: rgba(126, 161, 202, 1);
  --color-text-disabled: rgba(0,0,0,0.25);
  --color-button-icon: rgba(255,255,255,0.65);
  --color-button-text: rgba(255,255,255,1);
  --color-icon-inactive: rgb(91, 90, 153);
  --color-main: #8527D4;
  --color-main-hover: #B66BFF;
  --color-block-frame: rgb(166, 44, 255, 0.4);
  --color-main-disabled: rgba(133, 39, 212, 0.3);
  --color-main-bg: rgba(166, 44, 255, 0.3);
  --color-primary: rgb(7, 170, 52);
  --color-primary-hover: #11d74c;
  --color-primary-disabled: #366b43;
  --color-icon-header: #5B5A99;
  --color-border: rgba(0, 0, 0, 0.1);
  --color-border-history: rgba(126, 161, 202, 0.1);
  --radius-panel: 16px;
  --radius-button: 6px;
  --radius-wrapper: 16px;
  --color-red: #f55753;
  --color-wallet-icon: #4E99DE;
  --wallet-balance-bg: var(--color-bg);
  --wallet-image: url("styles/img/swiss-bg.png");
  --wallet-image-color: var(--color-bg);
  --wallet-image-position: right 168px;
  --wallet-image-attachment: fixed;
  --wallet-image-size: 100%;
  --wallet-image-repeat: no-repeat;

  --secondary-background: var(--color-bg);

  --size-scrollbar: 6px;
  --color-scrollbar: rgba(91, 90, 153, 0.2);
  --color-scrollbar-hover: rgba(91, 90, 153, 0.4);
  --color-scrollbar-bg: rgba(0,0,0,0);

  --rsbs-bg: var(--color-bg);
  --rsbs-handle-bg: var(--color-text-light);

  color: var(--color-text);
  background: var(--color-bg);

  &.telegram {
    --size-header: 46px;
  }
  .bp5-drawer {
    background: var(--color-panel);
  }
  .bp5-label {
    color: var(--color-text);
  }
}
