@import 'styles/layout/wallet';

.preseed {
  //@include wallet(var(--size-header));
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: -40px;

  &-wrap {
    height: 100%;
    //padding-bottom: 100px;
  }
  h1 {
  }
  p {
    color: var(--color-text-light);
    margin: 12px 0;
    max-width: 420px;
  }
  &-polygon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
      width: 128px;
      margin: 12px 0;
    }
  }
  &-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-raised {
    color: var(--color-main);
    text-align: center;

    p {
      color: var(--color-main);
      margin-bottom: 0;
    }
    &-values {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 900;
      flex-wrap: wrap;
    }
    &-invested {
      font-size: 32px;
      margin-right: 8px;

      &:after {
        content: '/';
        display: inline-block;
        font-size: 18px;
        margin-left: 8px;
      }
    }
    &-total {
      font-size: 24px;
    }
  }
  &-blocks {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 640px;
    max-width: calc(100vw);
  }
  &-deposit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
    }
    &-right {
      color: var(--color-text-light);
      font-weight: normal;
    }
  }
  &-buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 8px 0;
    width: 100%;

    & > :first-child {
      margin-bottom: 8px;
    }
  }
  &-user-deposit {
    color: var(--color-primary);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    small {
      font-size: 12px;
    }
    span {
      font-size: 32px;
      font-weight: 900;
    }
  }
}
