.root {
  border: 1px solid #ffffff4d;
  border-radius: 8px;

  &_fullwidth {
    width: 100%;
  }

  & select {
    width: 100%;
    padding: 6px 16px 6px 16px;

    border: none;
    background-color: transparent;
    color: white;

    font-size: 16px;
    font-weight: 600;
    line-height: 14px;

    outline: none;

    border-right: 16px solid transparent;
  }
}
