@import '../../../../../styles/layout/wallet';

.mining {
  //@include wallet();
  box-sizing: border-box;
  position: relative;
  //height: 100%;
  flex: 1;

  padding-bottom: calc(80px + 120px) !important;

  //background-color: var(--wallet-image-color);
  //background-image: url('assets/img/mining/bg.png');
  background-position: var(--wallet-image-position);
  background-size: cover;

  transition: background 0.8s ease 0s;
}
