.tutorial {
  .info__section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    .info__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: black;
      width: 100%;
      padding: 8px;
      text-align: center;
    }

    .info__text > span {
      font-weight: bold;
    }
  }
}

.arrow_indicator {
  position: absolute;
}

.pointLeftAnim {
  animation: pointLeft 1s infinite;
}

@keyframes pointLeft {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

.pointBottomAnim {
  animation: pointBottom 1s infinite;
}

@keyframes pointBottom {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

.pointTopAnim {
  animation: pointTop 1s infinite;
}

@keyframes pointTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
