.root {
  width: 100%;
}

.title {
  text-align: center;
}

.caption {
  //color: var(--color-text) !important;
  text-align: center;
}

.caption2 {
  text-align: center;
}

.nft {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 16px;
}
