.storage {
  &:not(:first-child) {
    margin: 10px 0 4px;
  }
  &-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 2px;
    &:not(:first-child) {
      margin-top: 8px;
    }

    &-title {
      font-size: 14px;
      font-weight: 600;
    }
    &-status {
      color: var(--color-text-light);
      font-size: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      &-counts {
        line-height: 21px;
      }
    }
  }
  &-bar-wrap {
    display: flex;
    align-items: center;
  }
  &-bar-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 3px;
    box-sizing: border-box;
    margin-right: 6px;

    &.disabled {
      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
        background-color: var(--color-main);
        opacity: 0.5;
        //backdrop-filter: blur(10px);
        filter: blur(10px);
      }
      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: 50%;
      }
    }
    img {
      width: 100%;
    }
    svg {
      --padding: 1px;
      position: absolute;
      top: 0;
      right: var(--padding);
      bottom: var(--padding);
      left: var(--padding);
      width: calc(100% - var(--padding) * 2);
    }
  }
  &-bar {
    flex-grow: 1;
    border-radius: 8px;
    //background: var(--color-bg);
    //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03), inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    //padding: 4px;

    &-progress {
      height: 8px;
      border-radius: 4px;
      width: 0;

      &.disabled {
        opacity: 0.5;
      }
    }
  }
  &-referral {
    height: 8px;
    flex-grow: 1;
    border-radius: 6px;
    background: var(--color-bg);
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03), inset 0 2px 2px 0 rgba(0, 0, 0, 0.15);
    padding: 4px;
    margin-bottom: 4px;

    &-progress {
      background: var(--color-primary);
      height: 8px;
      border-radius: 4px;
      width: 0;
    }
  }
  :global(.bp5-popover-target) {
    color: var(--color-button-white-text);
    font-size: 10px;
    margin-left: 6px;
  }
}
