.itemEquipDialog {
  &__list {
    margin-top: 21px;
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 3px;

    & img {
      width: 80px;
      height: 80px;
      border-radius: 16px;
      border: solid 1px #0d2f4e;
      padding: 8px;
    }
    & p {
      display: block;
      font-size: 12px;
      font-weight: 600;
      line-height: 14px;
      color: white;
      margin: 0;

      text-align: center;
    }
  }

  &__itemSelected {
    & img {
      border-color: #a62cff;
    }
  }

  &__btn {
    margin-top: 33px;
    width: 100%;
    color: #8527d4 !important;
    border: solid 1px #8527d4;
    background: transparent !important;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 500;

    &:disabled {
      opacity: 0.3;
    }
  }
}
