.container {
  position: relative;
  height: 470px;
  overflow: hidden;
  min-height: 470px;

  .background__scene {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: background-position 0.8s ease;
    transform: translateZ(0);
    will-change: background-position;

    &.left {
      background-position: left;
    }

    &.right {
      background-position: right;
    }
  }

  .main__scene {
    position: absolute;
    display: grid;
    //display: flex;
    grid-template-columns: 1fr 1fr;
    top: 0;
    width: 200%;
    height: 100%;
    overflow: hidden;
    background: radial-gradient(69.46% 66.78% at 50% 50%, rgba(1, 1, 1, 0) 0%, #000 100%);
    z-index: 1;

    .slots__main,
    .slots__additional {
      width: 100%;
      //flex-basis: 100%;
      transition: 0.9s ease;
    }

    .show {
      transform: translateX(-100%);
    }
    .hide {
      transform: translateX(-100%);
      opacity: 0;
    }
  }

  .next__btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 38px;
    left: calc(100% - 70px);
    width: 56px;
    height: 56px;
    flex-shrink: 0;
    border-radius: 50%;
    background: #001529;
    border: 1px solid rgba(78, 153, 222, 0.5);
    z-index: 2;

    &.rotate {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
