.root {
  display: flex;
  flex-direction: column;

  background-color: #041222;
  box-shadow: 0px 1px 0px 0px #ffffff08 inset;
  border-radius: 16px;

  hr {
    width: 100%;
    border-color: rgba(126, 161, 202, 0.1);
    margin: 0;
  }
}

.title {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;

  padding: 16px;
}

.header {
  padding: 8px 24px;
  display: flex;

  & > * {
    &:nth-child(1) {
      flex-basis: 40%;
    }
    &:nth-child(2) {
      flex-basis: 25%;
    }
    &:nth-child(3) {
      flex-basis: 35%;
      text-align: right;
    }
  }
}

.label {
  font-size: 14px;
  line-height: 21px;
  color: #7ea1ca;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 12px;
}

.row {
  border-radius: 4px;
  border: solid 1px #8527d4;
  padding: 8px 8px 8px 16px;
  height: 60px;

  display: flex;

  & > * {
    &:nth-child(1) {
      flex-basis: 40%;
      max-width: 50%;
    }
    &:nth-child(2) {
      flex-basis: 25%;
      max-width: 25%;
    }
    &:nth-child(3) {
      flex-basis: 35%;
      text-align: right;
    }
  }
}

.row_my {
  border-color: #07aa34;
}

.rowInfo {
  display: flex;
  align-items: center;
  gap: 8px;

  & > div {
    & > span {
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      &:last-child {
        opacity: 0.5;
      }
    }
  }
}

.rowQuantity {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  align-self: center;
}

.rowDate {
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
  justify-content: flex-end;
}

.btnBuy {
  background-color: #07aa34;
  border-radius: 4px;
  width: fit-content;
  border: none;
  padding: 10px;
  outline: none;

  & svg {
    width: 20px;
    height: 20px;
  }
}

.btnOffer {
  background-color: #8527d4;
  border-radius: 4px;
  width: calc(100% - 24px);
  border: none;
  padding: 16px;
  outline: none;
  margin: 8px 12px 0px;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  color: white;
}
