.root {
  background-color: var(--wallet-image-color);
  //background-image: url('assets/img/mining/bg.png');
  background-position: var(--wallet-image-position);
  background-size: cover;
  height: 100%;
  overflow-x: hidden;

  .drone__header {
    .header__inner {
      .balance {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        svg {
          width: 39px;
        }
      }

      .params {
        display: grid;
        grid-gap: 4px;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 24px;
      }
    }
  }
}

.forgeSwiperWrapper {
  width: calc(100vw - var(--size-scrollbar));
  margin-left: calc(0px - var(--padding-page-side));
  margin-right: calc(0px - var(--padding-page-side));
  position: relative;
  //overflow: hidden;
}

.forgeSwiper:global(.swiper) {
  width: calc(100vw);
  padding: 0 12px;

  :global(.swiper-slide) {
    width: calc(100vw - var(--padding-page-side) * 2) !important;
    margin: 0 4px;
  }
  :global(.swiper-pagination) {
    margin: 16px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :global(.swiper-pagination-bullet) {
    width: 14px;
    height: 14px;
    background-color: var(--color-main);
    transition: all 0.3s ease;
  }
  :global(.swiper-pagination-bullet-active) {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
