@import 'styles/utils/mixins';

.bottomDialog {
  z-index: var(--z-index-modal);

  &__content {
    @include scrollbar();
  }

  &__subTitle {
    font-size: 12px;
    line-height: 14px;
    //color: rgba(255, 255, 255, 50%);
    //margin-top: 12px;
    text-align: center;
  }
}
