.settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 16px;

  &-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    transition: background 0.2s ease 0s;
    width: 100%;

    &-left {
      display: flex;
      align-items: center;

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        :global(.bp5-icon) {
          color: var(--color-text-light);
          margin-right: 8px;
        }
      }
      &-title {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        margin-left: 8px;
        font-size: 12px;

        &-text {
          font-size: 16px;
          font-weight: 600;
        }
        &-hint {
          color: var(--color-text-light);
          margin-top: 2px;
        }
      }
    }
    &-right {
      display: flex;
      align-items: center;

      &-text {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        &-amount {
          font-size: 14px;
          font-weight: 600;
        }
        &-value {
          color: var(--color-text-light);
        }
      }
      &-action {
        padding: 16px 16px;
        margin-right: -16px;
      }
    }
  }
}
