.root {
  padding: 12px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  border: 1px solid rgba(133, 39, 212, 0.5);
  background: #8527d41a;
  border-radius: 12px;
}

.content {
  display: flex;
  align-items: center;
  gap: 12px;
}

.avatar {
  &:global {
    &.MuiAvatar-root {
      width: 56px;
      height: 56px;
    }
  }
}

.info {
  display: flex;
  flex-direction: column;

  flex: 1;
}

.infoText {
  //color: #7ea1ca;
}

.soonText {
  //color: #7ea1ca;
}

.right {
  max-width: 75px;
  flex-basis: 30%;

  display: flex;
  justify-content: center;
}
