.root {
  padding: 8px 16px 16px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  display: flex;
  flex-direction: column;

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 12px;
      line-height: 14px;
      color: var(--color-text-light);
      align-self: flex-start;

      margin-top: 8px;
    }

    .btn__filter {
      position: relative;
      outline: none;
      border: none;
      background: transparent;

      &[aria-selected='true'] {
        &:before {
          content: '';
          background-color: var(--color-primary);
          width: 6px;
          height: 6px;
          border-radius: 100%;
          position: absolute;
          top: 0;
          right: 5px;
        }
      }
    }
  }

  &__box {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;

    background-size: contain;

    & > * {
      flex-basis: calc(25% - 9px);
    }
  }
}

.grid {
  margin-top: 14px;

  display: flex;
  flex-wrap: wrap;
  gap: 9px;

  background-size: contain;

  & > * {
    flex-basis: calc(25% - 9px);
  }
}
