.root {
  padding: 12px 16px;
  background-color: var(--color-panel);

  display: flex;
  align-items: center;
  gap: 8px;
}

.image {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  min-width: 56px;
  object-fit: contain;
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  text-align: left;
  word-break: break-word;
}

.completedText {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #7ea1ca;
}

.completed {
  color: #07aa34;
}

.icon {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  transform: scale(1.5);
  fill: var(--color-text);
}
