.item {
  &-box {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &-info {
    display: flex;
    gap: 16px;
  }

  &-stats {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  &-stat {
    font-size: 14px;
    line-height: 21px;
    display: flex;
    gap: 6px;

    & > * {
      &:first-child {
        color: #7ea1ca;
      }
    }
  }

  &-button {
    width: 100%;
    margin-bottom: 12px;
    z-index: 5;
  }
  &-video {
    width: 100vw;
  }
}
