.root {
  padding: 6px;
  display: flex;
  justify-content: center;
  align-items: center;

  .addItem__inner {
    padding: 3px;
    width: 100%;
    border-radius: 8px;
    height: 100%;

    .inner__border {
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
      height: 100%;
      padding: 37px 0;
      border-radius: 8px;
      border: 1px solid #07aa34;
      overflow: hidden;

      svg {
        width: 40px;
      }
    }

    & span {
      font-size: 14px;
      font-weight: 600;
      line-height: 21px;
      text-align: center;
      color: var(--color-text-light);
      max-width: 80px;
    }
  }
}
