.content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .bridge__container {
    .bridge__content {
      .form__content {
        display: flex;
        flex-direction: column;

        .from__currency {
          .from__input {
          }
          .from__select {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;
            align-items: flex-start;
          }
        }

        .separator {
          display: flex;
          gap: 22px;
          align-items: center;

          .hr {
            height: 1px;
            //width: 100%;
            flex: 1;
            //background: #1d1c20;
          }
        }

        .to__currency {
          margin-top: 16px;

          .to__input {
          }
          .to__select {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px;
            align-items: flex-start;
          }
        }
      }
    }
  }

  .params__list {
    display: flex;
    flex-direction: column;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    .param__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px;
      //border-bottom: 1px solid #1d1c20;
    }
  }

  .btns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 16px;
  }
}

.contentBox {
}

.from__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 8px;
}
