.copy-address {
  text-align: center;
  margin: 12px auto;
  margin-top: 6px;
  cursor: pointer;
  position: relative;
  height: 34px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  &-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  &-text {
    font-size: 18px;
    font-weight: 600;
    padding-left: 4px;
  }
  :global(.bp5-icon) {
    margin-left: 8px;
    color: var(--color-main);
    transform: translateY(-2px);
  }
}

.quests {
  position: relative;
  margin-right: 12px;
  width: 40px;
  height: 40px;
  //padding: 13px 16px !important;
  //border-radius: 16px !important;
  //font-size: 16px !important;

  & > div {
    position: absolute;
    top: -2px;
    right: -4px;
    background-color: #05c618;
    padding: 2px 4px;
    border-radius: 6px;
    min-width: 24px;
    font-size: 12px;
    line-height: 10px;
    color: white;
  }
}
