.balance {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  &-left {
  }
  &-right {
    :global(.bp5-icon) {
      color: var(--color-progress-bar);
      //transform: translateY(-2px);
      margin-left: 2px;
    }
  }
  &-gas {
    color: var(--color-text-light);
    font-size: 14px;
  }
}
