.dialog {
  $c: &;
  padding-left: 0;
  padding-right: 0;

  &-stats {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;

    & hr {
      width: 100%;
      border-color: rgba(126, 161, 202, 10%);
      margin: 0;
    }
  }

  &-item {
    display: flex;
    justify-content: space-between;
    padding: 0 16px;

    & > span {
      font-size: 14px;
      line-height: 21px;

      &:first-child {
        color: #7ea1ca;
        margin-right: 12px;
      }
    }
  }

  &-button {
    margin-top: 30px;
    width: 100%;
    padding: 16px 24px;
    display: flex;
    justify-content: center;
    border-radius: 6px;
    background-color: #8527d4 !important;
    color: white !important;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
  }
}
