.root {
  //background: #8527d41a;
  padding: 16px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.label {
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  //color: #7ea1ca;
}

.value {
  font-size: 18px;
  font-weight: 600;
  line-height: 14px;
  //color: #ffffff;
}

.prefix {
  //color: rgba(255, 255, 255, 0.5);
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 16px;
}
