.leaderboardHead__skeleton {
  margin: 12px 8px;
  //background: linear-gradient(92.95deg, rgba(139, 0, 255, 0.4) 1.57%, rgba(60, 14, 98, 0.4) 100%);
  //border: 1px solid var(--color-main);
  border-radius: 16px;
  min-height: 136px;

  .leaderboard__skeleton {
    border-radius: 14px;
    height: 84px;
    //border: 1px solid var(--color-main);
    //background: #061930;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  }
}

.leaderboard__head {
  margin: 12px 8px;
  //background: linear-gradient(92.95deg, rgba(139, 0, 255, 0.4) 1.57%, rgba(60, 14, 98, 0.4) 100%);
  //border: 1px solid var(--color-main);
  border-radius: 16px;
  min-height: 136px;

  .prize__fund {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 14px;
    height: 84px;
    //border: 1px solid var(--color-main);
    //background: #061930;
    //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;

    .title__prize {
      //color: var(--color-main);
      display: flex;
      align-items: center;
      gap: 4px;
    }

    .rewards {
      display: grid;
      grid-template-columns: 1fr 50px 1fr;
      width: 100%;
      padding: 0 12px;
      align-items: center;
      justify-content: center;

      .icon {
        width: 51px;
        height: auto;
      }

      .info__section {
        display: flex;
        flex-direction: column;

        .title {
          color: rgba(255, 255, 255, 0.5);
        }
      }

      .infoSectionRight {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  .time__area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 16px;

    .startTime {
      display: flex;
      flex-direction: column;

      .label {
        opacity: 0.5;
      }

      .time {
        opacity: 0.5;
      }
    }
    .endTime {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .label {
        opacity: 0.5;
      }

      .time {
        color: var(--color-text-light);
      }
    }
  }
}
