@keyframes heart-beat {
    0% {
        transform: scale(1.0)
    }
    15% {
        transform: scale(1.2)
    }
    100% {
        transform: scale(1.0)
    }
}

@keyframes expand-y {
    from {
        transform-origin: top;
        transform: scaleY(0);
    }
    to {
        transform-origin: top;

    }
}

@keyframes move {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
}

@keyframes tick {
    0% {
        animation-timing-function: cubic-bezier(0.1858,0.2841,0.5834,1.4615);
        transform: rotate(0deg);
    }
    31% {
        animation-timing-function: cubic-bezier(0.0467,0.1102,0.4803,1.4719);
        transform: rotate(13.540000000000001deg);
    }
    41% {
        animation-timing-function: cubic-bezier(0.0469,0.1108,0.4775,1.4732);
        transform: rotate(-9.48deg);
    }
    51% {
        animation-timing-function: cubic-bezier(0.0478,0.1131,0.4723,1.4819);
        transform: rotate(6.640000000000001deg);
    }
    61% {
        animation-timing-function: cubic-bezier(0.0506,0.1192,0.4639,1.4818);
        transform: rotate(-4.640000000000001deg);
    }
    71% {
        animation-timing-function: cubic-bezier(0.0581,0.1374,0.457,1.4901);
        transform: rotate(3.2600000000000002deg);
    }
    81% {
        animation-timing-function: cubic-bezier(0.0765,0.1813,0.4542,1.4923);
        transform: rotate(-2.2800000000000002deg);
    }
    91% {
        animation-timing-function: cubic-bezier(0.1747,0.3181,0.341,0.878);
        transform: rotate(1.6deg);
    }
    100% {
        transform: rotate(-1.6400000000000001deg);
    }
}

.fadeOut {
  animation: fadeOut 0.6s ease forwards;
  animation-delay: 0.2s;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}