@mixin absolute($padding: 0) {
    position: absolute;
    top: $padding;
    right: $padding;
    bottom: $padding;
    left: $padding;
}

@mixin column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin scrollbar($size: var(--size-scrollbar)) {
    &::-webkit-scrollbar {
        width: $size;
        height: $size;
    }
    &::-webkit-scrollbar-button {
        width: 0;
        height: 0;
    }
    &::-webkit-scrollbar-thumb {
        background: var(--color-scrollbar-thumb);
        border: 0 none #ffffff;
        border-radius: 2px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: var(--color-scrollbar-hover);
    }
    &::-webkit-scrollbar-thumb:active {
        //background: #000000;
    }
    &::-webkit-scrollbar-track {
        background: var(--color-scrollbar-bg);
        border: 0 none #ffffff;
        border-radius: 50px;
    }
    &::-webkit-scrollbar-track:hover {
    }
    &::-webkit-scrollbar-track:active {
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

@mixin text-glow($color: black) {
    text-shadow:
            0 -1px 0 $color,
            1px -1px 0 $color,
            1px 0 0 $color,
            1px 1px 0 $color,
            0 1px 0 $color,
            -1px 1px 0 $color,
            -1px 0 0 $color,
            -1px -1px 0 $color;
}

@mixin media($width,$option:0){
    @if $option == 0{
        @media (max-width:$width){
            @content;
        }
    } @else if $option == 1{
        @media (min-width:$width + 1px){
            @content;
        }
    }
}

@mixin portrait(){
    @media (orientation: portrait){
        @content;
    }
}

$xs: 375px;
@mixin phones-xs {
  @media screen and (min-width: $xs) {
    @content;
  }
}

$sm: 425px;
@mixin phones {
  @media screen and (min-width: $sm) {
    @content;
  }
}

$px: 525px;
@mixin phones-xl {
  @media screen and (min-width: $px) {
    @content;
  }
}

//$md: 768px;
$md: 800px;
@mixin tablets {
  @media screen and (min-width: $md) {
    @content;
  }
}

$lg: 1024px;
@mixin laptop {
  @media screen and (min-width: $lg) {
    @content;
  }
}

$xl: 1440px;
@mixin desktop {
  @media screen and (min-width: $xl) {
    @content;
  }
}

$xxl: 2560px;
@mixin desktop-xl {
  @media screen and (min-width: $xxl) {
    @content;
  }
}
