.root {
  width: 100%;
}

.title {
  text-align: center;
}

.name {
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.caption {
}

.priceBox {
  display: flex;
  flex-direction: column;
}

.prices {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  text-align: center;

  & > span:last-child {
    color: var(--color-text-light);
  }
}

.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 4px;
  display: block;
}

.nft {
  display: flex;
  justify-content: center;
}

.input {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
