.add {
  padding: 20px 20px;

  &-columns {
    display: flex;
    margin: 20px 0;

    & > *:not(:first-child) {
      margin-left: 20px;
    }
  }
  &-img {
    width: 32px;
    height: 32px;
  }
}
