.token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease 0s;
  background: var(--wallet-balance-bg);
  border: 1px solid var(--color-border);

  &-info {
    display: flex;
    align-items: center;
    max-width: 40vw;

    &-icon {
      --size: 56px;
      width: var(--size);
      height: var(--size);
      background: var(--color-bg);
      border: 1px solid var(--color-border);
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: calc(var(--size) - 2px);
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 8px;
      font-size: 12px;

      &-symbol {
      }
      &-name {
        color: var(--color-text-light);
      }
    }
  }
  &-balance {
    display: flex;
    align-items: center;

    &-text {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;

      &-amount {
        font-size: 14px;
        font-weight: 600;
      }
      &-value {
        color: var(--color-text-light);
      }
    }
    &-action {
      padding: 16px 16px;
      margin-right: -16px;
    }
  }
}
