.info {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;

  //background-color: #041222;
  //box-shadow: 0 1px 0 0 #ffffff08 inset;
  border-radius: 16px;

  padding: 12px 16px;

  & > * {
    flex-basis: calc(50% - 6px);
    width: calc(50% - 6px);
  }
}

.block {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.label {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.statLabel {
  color: #7ea1ca;
  word-break: break-all;

  & > span {
    white-space: nowrap;
  }
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 8px;

  & > div {
    display: flex;
    justify-content: space-between;

    & > span {
      &:last-child {
        font-size: 14px;
        font-weight: 700;
        line-height: 17px;
      }
    }
  }
}
