@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes backInUp {
  0% {
    transform: translateY(1200px);
  }
  90% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrap {
}

.chest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 50vw;
    margin: 20px 0;
    animation: horizontal-shaking 0.15s linear infinite;
  }
  button {
    width: 100%;
  }
}

.drop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-text {
    z-index: 104;
  }
  &-button {
    z-index: 105;
    margin-bottom: 12px;
  }
  &-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: -100px;
    left: 0;
    z-index: 102;
  }
}
