.root {
  padding: 32px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon {
  color: var(--color-text-light);
  margin: 0 auto 16px;

  svg {
    width: 100px;
    height: 120px;
  }
}
