.screen {
  z-index: 1;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

  .toolbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 12px;

    & > div:first-child {
      width: 40px;
    }

    .tooltip {
      position: absolute;
      left: 11px;
    }
  }

  .rank__aria {
    //padding: 0 12px;

    .heading {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .user__rank {
      }
      .rank__points {
        .points {
          //color: var(--color-green-primary);

          span {
            font-size: 0.9rem;
          }
        }
      }
    }

    .rank__label {
      //color: rgba(255, 255, 255, 0.5);
    }
    .rank__title {
    }
  }

  .loading__wrapper {
    margin-top: 4px;
    height: 6px;
  }

  .achievements__aria {
    margin-top: 10px;
    padding-bottom: 10px;
    //background: rgba(133, 39, 212, 0.1);
    stroke-width: 1px;
    //stroke: rgba(133, 39, 212, 0.3);
    //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .items__tabs {
      width: 100%;
      margin-bottom: 10px;
      padding: 0 12px;
    }
  }
}
