.content {
  .leaderboard__title {
    background: #011324;
    padding: 12px;
    overflow: hidden;
  }

  .users__list {
    display: flex;
    flex-direction: column;
    //background: var(--color-bg);
    min-height: 430px;
    //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  }
}

.linear__progress {
  height: 4px; // что бы не прыгал контент при загрузке!
}
