.row {
  border-radius: 8px;
  //border: solid 1px #8527d4;
  padding: 8px;

  display: flex;
  gap: 12px;

  & > * {
    &:nth-child(1) {
      flex-basis: 50px;
      max-width: 50px;
    }
    &:nth-child(2) {
      flex-basis: calc(100% - 145px);
      max-width: calc(100% - 145px);
    }
    &:nth-child(3) {
      flex-basis: 60px;
      text-align: right;
    }
  }
}

.img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  border: solid 1px transparent;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.price__section {
  display: flex;
  gap: 4px;

  .price {
    font-size: 11px;
    //color: var(--color-text);

    & > span {
      white-space: nowrap;
      opacity: 0.5;
    }

    & > a {
      margin-left: 4px;
      text-decoration: underline;
    }
  }

  .network__icon {
    width: 16px;
    height: 16px;
  }
}

.title {
  font-size: 14px;
}

.date {
  display: flex;
  flex-direction: column;
  gap: 2px;
  justify-content: center;

  & > *:last-child {
    white-space: nowrap;
  }
}

.isSell {
  color: #e62058;
  text-transform: uppercase;
  font-weight: bold;
}

.isBuy {
  color: #07aa34;
  text-transform: uppercase;
  font-weight: bold;
}
