.items__list {
  .item {
    display: flex;
    align-items: center;
    //gap: 8px;
    //background: var(--color-bg);
    padding: 16px;

    //&:not(:last-child) {
    //  border-bottom: 1px solid var(--color-border);
    //}

    .left__side {
      display: flex;
      align-items: center;
      gap: 8px;
      //color: var(--color-text-light);
    }

    .stats__value {
      margin-left: auto;
    }
  }
}
