.wrapper {
  //width: calc(100vw - var(--size-scrollbar));
  //margin-left: calc(0px - var(--padding-page-side));
  //margin-right: calc(0px - var(--padding-page-side));
  position: relative;
  //overflow: hidden;
}

.miners:global(.swiper) {
  //width: calc(100vw - var(--size-scrollbar));
  padding: 0 0px;

  :global(.swiper-slide) {
    //width: calc(100vw - var(--size-scrollbar) - var(--padding-page-side) * 2) !important;
    padding: 0 4px;
  }
  :global(.swiper-pagination) {
    margin: 16px 0 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  :global(.swiper-pagination-bullet) {
    width: 14px;
    height: 14px;
    background-color: var(--color-main);
    transition: all 0.3s ease;
  }
  :global(.swiper-pagination-bullet-active) {
    box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.5);
  }
}
