.switcher {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  width: 100%;
}

.switcher__mini {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
