.root {
  :global {
    .Mui-disabled {
      & fieldset.MuiOutlinedInput-notchedOutline {
        border-color: transparent;
      }
    }
  }
}

.inputBase {
}

.input {
  text-align: right;
}

.select {
  padding-left: 0;
  border: none;
  background: transparent;

  :global {
    & fieldset {
      border: none;
    }
  }
}
