.confirm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  padding: 24px;

  .btns {
    display: grid;
    grid-template-columns: 1.7fr 2fr;
    grid-gap: 4px;
    z-index: 10000;
    margin-top: 20px;
    width: 100%;
  }
}