.autoclaim {
  display: flex;
  //align-items: center;
  //gap: 12px;
  //justify-content: space-between;

  .balance__section {
    display: flex;
    flex-direction: column;

    .title {
      color: var(--color-text-light);
    }

    .value {
      display: flex;
      gap: 5px;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;
      }
      .text {
      }
    }
  }

  .autoclaim__control {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    padding: 0;

    .control__checkbox {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 4px 0;
      border-radius: 40px;
      background: var(--color-secondary-blue);
      border: 8px solid #092642;
      color: white;

      &[aria-selected='true'] {
        border-color: #07aa34;
        box-shadow: 0 0 20px 0 #07aa344d;
      }

      &[aria-disabled='true'] {
        pointer-events: none;
      }
    }
  }
}
