.root {
}

.toolbar {
  display: flex;
  gap: 12px;
  height: 40px;
}

.btn {
  border-radius: 8px;
  border: 1px solid rgba(133, 39, 212, 0.3);
  background: rgba(133, 39, 212, 0.1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  color: var(--color-wallet-icon);
  outline: none;
  padding: 8px;
  position: relative;

  &:disabled {
    opacity: 0.7;
  }

  & svg {
    width: 24px;
    height: 24px;
  }
}

.changedBadge {
  background-color: var(--color-primary);
  width: 6px;
  height: 6px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  right: 0;
}
