:global(.bp5-menu-item).wrap {
  padding-left: 0;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;

  &-image {
    display: flex;
    align-items: center;
    margin-right: 8px;

    img {
      width: 32px;
    }
  }
  &-name {
    flex-grow: 1;
  }
  :global(.bp5-tag) {
    justify-self: flex-end;
  }
}
