.root {
  padding: 12px;
  transition: all 0.8s ease 0s;
}

.portfolio {
  --margin: 12px;

  &-countdown-title {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }
  &-countdown {
    font-size: 32px;
    font-family: 'Toxigenesis', sans-serif;
    color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-bars {
    margin-top: 10px;
  }
  &-flare {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 14px;
      font-weight: 600;
    }
    p {
      color: var(--color-text-light);
    }
    :global(.pixel-button) {
      height: 48px;
      width: 100%;
      margin-top: 12px;

      :global(.bp5-button-text) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }

  &-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
  }
  &-newsBtn {
    background-color: #ff7a00 !important;
    box-shadow: none !important;
  }
}
