.ExchangerModal__Settings {
  margin-top: 25px;

  .settings-toggler {
    width: 100%;
  }

  .dropdown-icon {
    width: 9px;
    height: 5px;
    margin-left: 7px;
    transition: transform 0.2s;
  }

  .isActive .dropdown-icon {
    transform: rotate(180deg);
  }

  .settings-icon {
    width: 13px;
    height: 13px;
    fill: #3071ee;
    margin-right: 5px;
  }

  &__container {
    overflow: hidden;

    & > * {
      transition: all 0.3s;
      transition-timing-function: ease-in;
      border-radius: 0;
    }

    &:not(.isActive) > * {
      margin-top: -100%;
      height: 0;
    }
  }

  .SwapSettings {
    background-color: var(--color-bg);
    border-radius: 0 0 15px 15px;
    padding: 24px 12px 12px;

    .SectionBlock {
      border-radius: 0;
      background: transparent;
      margin-bottom: 20px;
      padding: 0;
    }

    .bp5-button {
      margin: 0 2px;
    }
  }
}

.adaptive .ExchangerModal__Settings {
  .Button {
    width: auto;
  }

  .settings-toggler {
    width: 100%;
  }
}
