.profile__card {
  //border: 1px solid;
  //border-image-source: linear-gradient(
  //  180deg,
  //  rgba(133, 39, 212, 0.1) 0%,
  //  rgba(69, 20, 110, 0.1) 100%
  //);
  //background: #8527d41a;
  //box-shadow: 0 6px 12px 0 #00000033;
  padding: 4px;
  border-radius: 12px;

  .profile__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //background: var(--color-bg);
    //box-shadow: 0 1px 0 0 #ffffff08 inset;
    padding-right: 8px;
    border-radius: 12px 86px 86px 12px;

    .info__sections {
      width: 140px;

      .section {
        margin: 10px 4px;
        padding: 4px 0;
        border-bottom: 1px solid var(--color-border);

        .section__content {
          padding: 0 12px;

          .bottom__content {
            display: flex;
            align-items: center;
            gap: 20px;
          }
        }
      }
    }

    .profile__image {
      width: 156px;
      height: 156px;
    }
  }
}
