.ConnectToWalletModal {
  .TransactionModal {
    &__header {
      padding: 0;
    }
  }

  .Modal__box {
    padding: 32px 30px;
  }

  .row {
    display: flex;
    justify-content: space-between;
  }

  &__wallet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex: 1 1 200px;
    padding: 20px 0;
    border-radius: var(--radius-panel);
    color: var(--primary-dark-blue);
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.1s;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-bottom: 14px;
      border-radius: 50%;
      overflow: hidden;

      & img {
        width: 100%;
        height: 100%;
      }

      .isvg {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        svg {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }

    &:hover {

      .ConnectToWalletModal__wallet__icon {
        box-shadow: 0 4px 10px rgba(229, 235, 252, 0.7);
      }
      .ConnectToWalletModal__title {
        text-shadow: 0 4px 10px rgba(229, 235, 252, 0.7);
      }
    }

    &.disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  .action-text {
    display: flex;
    align-items: center;
    margin-top: 12.5px;
    color: var(--royal-blue);
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;

    &:hover {
      opacity: 0.9;
    }

    .isvg {
      display: flex;
      align-items: center;
      margin-right: 9.5px;

      circle {
        stroke: var(--royal-blue);
      }

      path {
        fill: var(--royal-blue);
      }
    }
  }
}

.adaptive .ConnectToWalletModal {
  .TransactionModal {
    &-Bottom {
      padding: 32px 22px 25px;
    }

    &__header {
      margin-bottom: 19px;
      padding: 0 2.5px;
    }
  }

  &__wallets,
  .action-text {
    padding: 0 4px;
  }

  &__wallet {
    padding: 23px 0;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 20px;

    &__icon {
      margin-bottom: 10px;
    }
  }

  .action-text {
    margin-top: 13.5px;
  }
}

.walletconnect-qrcode__image {
  max-height: 50vh !important;
}
