.info__aria {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  height: 100%;
}

.info__cloud {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 340px;

  svg {
    width: 100%;
    height: 100%;
  }

  .text__cloud {
    position: absolute;
    color: #1c1c1c;
    margin: 0 8px;
    text-align: center;
  }
}