.edit {
  padding: 20px 20px;
  max-height: 100vh;
  overflow-y: auto;

  &-columns {
    display: flex;
    align-items: flex-start;

    & > *:not(:first-child) {
      margin-left: 20px;
    }
  }
  &-form {
    & > :global(.bp5-control-group) {
      margin-bottom: 12px;
    }
  }
}
