.airdrop {
  width: 600px;
  max-width: 100vw;
  margin: 40px auto;
  padding: 0 20px;

  h1,
  h2 {
    text-align: center;
  }
  h2 {
    margin: 40px 0 20px;
  }
  p,
  li {
    font-size: 13px;
    line-height: 1.6em;
  }
  p {
  }
  ul {
    padding-left: 14px;
    margin: 20px 0;

    li {
      margin: 12px 0;
    }
  }
  &-images {
    display: flex;
    justify-content: center;
    position: relative;

    &-item {
      margin: 20px 20px;
      border-radius: var(--radius-panel);
      box-shadow: 0 9px 24px 0 rgba(66, 118, 246, 0.4);
      overflow: hidden;

      img {
        width: 200px;
        max-width: 30vw;
      }
    }
  }
  center {
    margin-top: 20px;

    small {
      margin-top: 8px;
      font-size: 12px;
      display: block;
      color: var(--color-main);
    }
  }
}
