.net__switcher {
  display: flex;
  align-items: center;
  width: 100%;

  .left__side {
    display: flex;
    align-items: center;
    gap: 12px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  .from__net {
    color: gray;
    margin-left: auto;
  }
}
