.theme {
  box-sizing: border-box;
  --color-main-initial: var(--color-main);

  &.green {
    --color-main: rgba(76, 174, 43, 1);
    --color-progress-bar: var(--color-main);
    --color-block-frame: rgba(79, 183, 44, 0.5);
  }
  &.yellow {
    --color-main: rgba(179, 123, 48, 1);
    --color-progress-bar: var(--color-main);
    --color-block-frame: rgba(179, 123, 48, 0.5);
  }
}
