@import 'styles/utils/mixins';

.ranks {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  margin-top: 12px;

  @include scrollbar();

  & > div {
    display: inline-block;
    vertical-align: top;
    white-space: normal;
    text-align: center;
    margin-right: 8px;
    border-radius: 12px;
  }
}
