.sgbBuy_card {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  //border: 1px solid var(--pxl-50, rgba(133, 39, 212, 0.5));
  //background: var(--Back-4, rgba(133, 39, 212, 0.1));
  //box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  //backdrop-filter: blur(3px);

  .card__info {
    display: flex;
    flex-direction: column;
    gap: 2px;

    .sgb {
      font-size: 14px;
    }

    .description {
      font-size: 12px;
    }
  }

  .card__control {
    margin-left: auto;
  }
}
