.balances {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 16px;

  .balance__section {
    display: flex;
    flex-direction: column;

    .title {
      color: var(--color-text-light);
    }

    .value {
      display: flex;
      gap: 5px;
      align-items: center;

      .icon {
        width: 16px;
        height: 16px;
      }
      .text {
      }
    }
  }
}
