.root {
}

.nft {
  display: flex;
  justify-content: center;
}

.title {
  text-align: center;
}

.caption {
}

.priceBox {
  display: flex;
  flex-direction: column;
}

.balance {
  text-align: center;
  margin-top: 12px;

  & > span {
    opacity: 0.5;
  }
}

.prices {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  text-align: center;

  & > span:last-child {
    color: var(--color-text-light);
  }
}

.priceLabel {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  opacity: 0.5;
}

.button {
  margin-top: 16px;
}
