.breadwinner__inner {
  margin-top: 11px;
  display: grid;
  grid-gap: 14px;
  grid-template-columns: 1fr 2fr;

  .breadwinner__left {
  }

  .breadwinner__right {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .label {
      color: var(--color-text-light);
    }

    .name__line {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        width: 16px;
        height: 16px;
      }

      .value {
        color: var(--color-text-light);

        span {
          color: #07aa34;
        }
      }
    }
  }
}

.nft__rare__slots {
  display: flex;
  align-items: center;
  gap: 3px;
  justify-content: space-between;
  margin-top: 7px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px 0 0 0;
}
