.block {
  &-tabs {
    width: 100%;

    & > :not(:global(.bp5-tab-list)) {
      flex-grow: 1;
    }
  }
  .status {
    &-row {
      display: flex;
      justify-content: space-between;
    }
  }
}
