.root {
  position: relative;
  padding: 12px 16px;
  background-color: var(--color-panel);

  display: flex;
  align-items: center;
  gap: 8px;
}

.custom_best {
  background: rgba(133, 39, 212, 0.15);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 80%;
    background: var(--color-main);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.custom_fresh {
  background: rgba(39, 212, 42, 0.15);

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 4px;
    height: 80%;
    background: var(--color-primary);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.custom_premium {
  background: rgba(255, 251, 0, 0.15);
  border: solid 2px rgba(255, 251, 0, 0.7);
  border-radius: 4px;
}

.image {
  border-radius: 100%;
  width: 56px;
  height: 56px;
  min-width: 56px;
  object-fit: contain;
}

.content {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: space-between;
}

.title {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.6px;
  text-align: left;
  word-break: break-word;

  min-width: 60px;
}

.prizeBox {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}

.prize {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  text-align: right;
  color: #07aa34;
}

.completedText {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: right;
  color: #7ea1ca;
}

.completed {
  color: #07aa34;
}

.icon {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  transform: scale(1.5);
  fill: var(--color-text);
}

.disabled {
  opacity: 0.5;
}
