.header__tutorial {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 16px;

  .tutorial__skip {
    background: rgba(57, 51, 128, 0.5);
    border: none;
    cursor: pointer;
    color: white;
  }
}