.token {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //cursor: pointer;
  transition: background 0.2s ease 0s;

  &-info {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    &-icon {
      --size: 56px;
      width: var(--size);
      height: var(--size);

      &-star {
        position: absolute;
        left: 50%;
        top: 50%;
        --reduce: -8px;
        --image-size: calc(var(--size) - 2px - var(--reduce));
        width: var(--image-size);
        margin-top: calc(var(--image-size) / (-2));
        margin-left: calc(var(--image-size) / (-2));
      }
      &-box {
        width: 100%;
        object-fit: cover;
      }
      &-normal {
        width: var(--image-size);
      }
    }
    &-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin-left: 12px;
      font-size: 12px;

      &-symbol {
        font-size: 16px;
        font-weight: 500;
      }
      &-name {
        color: var(--color-text-light);
      }
    }
  }
  &-balance {
    display: flex;
    align-items: center;

    &-action {
      padding: 16px 16px;
      margin-right: -16px;

      :global(.pixel-button) {
        padding-left: 20px !important;
        padding-right: 20px !important;
      }
    }
  }
  &.disabled {
    opacity: 0.6;
  }
  &.disabled &-info-icon {
    opacity: 0.5;
  }
  &.disabled &-balance {
    //opacity: 0.5;
    pointer-events: none;
  }
}
