.dashboard {
  $c: &;

  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px 0;
  width: 100%;

  &__title {
    font-size: 20px;
    line-height: 17px;
    font-weight: 700;
    text-align: center;
  }

  &__tabs {
    margin-top: -16px;
  }

  &__content {
  }

  &__btn {
    margin-top: 16px;
  }
}
