.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.73);
  //backdrop-filter: blur(8px);
  z-index: var(--z-index-tutorial-overlay);
  opacity: 0;
  animation: fadeIn 0.6s ease forwards;
  animation-delay: 0.5s;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .modal__header {
    display: flex;
    align-items: center;
    padding: 16px;
    z-index: 999;
  }
}

.modal__content {
  width: 100%;
  height: 100%;
}

.modal__close {
  background: rgba(0, 0, 0, 0.15);
  border: none;
  cursor: pointer;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
