.root {
  box-shadow: inset 0 1px 0 0 rgba(#ffffff, 0.03), 0 2px 6px 0 rgba(0, 0, 0, 0.25);
  background-color: var(--color-panel);
  border-radius: var(--radius-panel);
  margin: 8px 0;
  padding: 3px;
  width: 100%;
  transition: all 0.8s ease 0s;
}

.wrapper {
  border: 1px solid var(--color-block-frame);
  border-radius: calc(var(--radius-panel) - 2px);
  padding: 12px 12px 16px;
  width: 100%;
}

.portfolio {
  --margin: 12px;

  &-flare {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h2 {
      font-size: 14px;
      font-weight: 600;
    }
    p {
      color: var(--color-text-light);
    }
    :global(.pixel-button) {
      height: 48px;
      width: 100%;
      margin-top: 12px;

      :global(.bp5-button-text) {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        width: 24px;
        height: 24px;
        margin-right: 8px;
      }
    }
  }
}
