.cardInfoParams {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &:before {
    margin: 8px 0;
    content: '';
    display: block;
    width: 75%;
    height: 1px;
    background: rgba(4, 23, 44, 1);
    box-shadow: 0 1px 2px 0 rgba(22, 62, 80, 0.5);
  }

  &-item {
    display: flex;
    gap: 8px;
    font-family: 'Montserrat', sans-serif;

    &-title {
      color: var(--color-text-light);
    }
  }
}
