.desc {
  color: var(--color-text-light);
}

.btns {
  display: flex;
  gap: 16px;
  //background-color: var(--color-bg);
  padding: 16px 16px 32px;
  z-index: 10000;

  & > * {
    flex: 1;
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
  }
}

.grid {
  margin-top: 16px;
  width: 100%;
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 8px;

  & > * {
    display: flex;
    justify-content: center;
  }
}

.content {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
