.mining {
  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 8px;
    border: solid 2px transparent;
    box-sizing: border-box;

    &-logo {
      position: relative;
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;

      & > img {
        width: 38px;
        height: 38px;
      }
      & > svg {
        width: 38px;
        height: 38px;
      }
    }
    &-balance {
      font-weight: 700;
      font-size: 40px;
      margin: 0 0;
    }
    &-mined {
      &-storage {
      }
      &-gasless,
      &-gas,
      &-empty {
        margin-left: 12px;
        cursor: pointer;

        & > :global(.bp5-icon) {
          margin-right: 4px;
        }
        & > span {
          & > :global(.bp5-icon) {
            margin-left: 4px;
            color: var(--color-text-light);
          }
        }
      }
      &-gasless {
        color: var(--color-primary);
      }
      &-gas {
        color: var(--color-text-light);
      }
      &-empty {
        color: var(--color-red);
      }
    }
  }
}
