.types {
  width: 100%;
  margin: 0 20px 0 0;

  &-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    & > * > *:first-child {
      margin: -70px -46px;
      transform: scale(0.6);
    }
  }
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.add {
  width: 244px;
  height: 366px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border-radius: var(--radius-panel);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 32px;
  color: var(--color-button-text);

  &:hover {
    background-color: var(--color-main-hover);
  }
}
