@mixin cardRarityBackground($background) {
  background: $background;
}

@mixin cardRarityShadow($shadow-color) {
  -webkit-box-shadow: 0 0 89px 0 rgba($shadow-color, 0.2);
  -moz-box-shadow: 0 0 89px 0 rgba($shadow-color, 0.2);
  box-shadow: 0 0 89px 0 rgba($shadow-color, 0.2);
}

@mixin nftCard() {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}

.nft {
  width: 244px;
  height: 366px;

  margin-bottom: 20px; // Временно

  .card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;

    .card__face {
      @include nftCard();
      backface-visibility: hidden;

      .card__content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 7px;

        .cardCollection {
          position: absolute;
          left: 10px;
          top: 6px;
          font-size: 12px;
          //color: #151515;
        }

        .glow {
          position: absolute;
          top: -160px;
          right: -180px;
          width: 300px;
          height: 300px;
          border-radius: 570px;
          opacity: 0.2;
          background: radial-gradient(50% 50% at 50% 50%, #d9d9d9 0%, rgba(115, 115, 115, 0) 100%);
        }

        .shine2 {
          position: absolute;
          top: 160px;
          left: -30px;
          width: 250px;
          height: 250px;
          border-radius: 50%;
          opacity: 0.2;
          background: radial-gradient(50% 50% at 50% 50%, #8527d4 0%, rgba(115, 115, 115, 0) 100%);
        }

        .nft_image__wrapper {
          position: relative;
          width: 100%;
          height: auto;

          .nft__image {
            border-radius: 20px;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }

          .nft__image_mask {
            --webkit-mask-image: url('styles/img/mask.png');
            --webkit-mask-size: 100%;
            mask-image: url('styles/img/mask.png');
            mask-size: 100%;
          }

          .image_glow__wrapper {
            position: absolute;
            top: 5px;
            right: 5px;
            left: 5px;
            height: 100%;

            .nft_image__glow {
              width: 100%;
              height: 100%;
              background-image: url('styles/img/glow-image.png');
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
        }

        .card_slot {
          position: absolute;
          right: 32px;
          top: 204px;
          width: 54px;
          height: 54px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #0a2e3b;

          .slot__inner {
            width: 46px;
            height: 46px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #0e1f3c;
            border: 2px solid;
            color: #ffffff;

            svg {
              --slot-size: 32px;
              width: var(--slot-size);
              height: var(--slot-size);
            }
          }
        }

        .cardInfo {
          position: absolute;
          left: 20px;
          right: 20px;
          top: 232px;

          .cardInfoRarity {
            text-align: left;
            text-transform: uppercase;
          }

          .cardInfoTitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            text-transform: uppercase;
            color: white;
          }
        }

        .rotate__icon {
          position: absolute;
          right: 8px;
          bottom: 1px;

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }

    .card__back {
      @include nftCard();
      transform: rotateY(180deg);
      backface-visibility: hidden;

      .card__content {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        padding: 7px;

        .cardCollection {
          position: absolute;
          right: 10px;
          top: 6px;
          font-size: 12px;
          //color: #151515;
        }

        .cardFeatures {
          position: absolute;
          left: 20px;
          right: 20px;
          top: 12px;

          .cardFeaturesTitle {
            text-transform: uppercase;
            font-size: 11px;
            color: #ffffff;
          }
        }

        .rotate__icon {
          position: absolute;
          right: 8px;
          bottom: 1px;

          svg {
            width: 28px;
            height: 28px;
          }
        }
      }
    }
  }
}

.isFlipped {
  transform: perspective(400px) rotateY(180deg);
}

.small {
  margin: -70px -46px;
  transform: scale(0.6);
}
