.buy {
  &-scroller {
    width: 100%;
    margin-bottom: 10px;
  }
  &-chances {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 16px;
  }
  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6px 6px;

    &-image {
      position: relative;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 88px;
      height: 88px;
      border-radius: 12px;
      border: 1px solid white;

      img {
        width: 100%;
      }
    }
    &-title {
      font-weight: 600;
      font-size: 10px;
      margin: 4px 0;
    }
    &-chance {
      font-size: 11px;
      color: var(--color-text-light);
    }
  }
}
