.sgbBuy_card {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  width: 100%;
  height: 80px;
  border-radius: 12px;
  border: 1px solid var(--pxl-50, rgba(133, 39, 212, 0.5));
  background: var(--Back-4, rgba(133, 39, 212, 0.1));
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  //backdrop-filter: blur(3px);

  .card__info {
    .label {
      font-size: 10px;
      font-weight: 400;
      border-radius: 32px;
      padding: 1px 4px;

      &[aria-label='0'] {
        background: #5b5a99;
      }
      &[aria-label='2'] {
        background: #05c618;
      }
      &[aria-label='4'] {
        background: #8527d4;
      }
      &[aria-label='6'] {
        background: #bd9120;
      }
    }

    .amountSgb {
      font-size: 12px;

      span {
        color: rgba(255, 255, 255, 0.5);
      }
    }

    .description {
      display: flex;
      gap: 4px;
      align-items: center;
      color: var(--color-text);

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }

  .card__control {
    margin-left: auto;
    width: 135px;

    .button {
      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }
}
