.root {
  padding: 8px 16px 16px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
  display: flex;
  flex-direction: column;

  .heading {
    height: 29px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
      font-size: 12px;
      line-height: 14px;
      color: var(--color-text-light);
      align-self: flex-start;

      margin-top: 8px;
    }
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 9px;

  background-size: contain;

  & > * {
    flex-basis: calc(25% - 9px);
  }
}
