.quests {
  &-columns {
    display: flex;
  }
  &-list {
    &-id {
      text-align: right !important;
      margin-right: 12px;
      font-weight: 600;
    }
    &-pixels {
      text-align: right !important;

      &.disabled {
        color: var(--color-text-disabled) !important;
      }
    }
    &-chest {
      margin-right: 12px;
    }
    &-item.active &-id {
      color: var(--color-primary);
    }
  }
  &-form {
    margin: 13px 0 0 40px;
  }
}
