.dashboard {
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-basis: calc(50% - 1px);
  }

  &__itemLabel {
    font-size: 12px;
    color: var(--color-text-light);
    line-height: 21px;
    //white-space: nowrap;
    word-break: break-word;
    text-align: center;
    text-overflow: ellipsis;
  }

  &__itemValue {
    font-size: 26px;
    line-height: 14px;
    font-weight: 700;
  }

  &__row {
    display: flex;
    gap: 16px;

    padding: 12px;
  }
}
