@import 'styles/layout/wallet';

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wallet {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  padding-bottom: 100px;

  //background-color: var(--wallet-image-color);
  //background-image: var(--wallet-image);
  background-position: var(--wallet-image-position);
  background-size: var(--wallet-image-size);
  background-repeat: var(--wallet-image-repeat);
  background-attachment: var(--wallet-image-attachment);

  &-portfolio {
    margin: 20px 0 0;

    &-help {
      margin-bottom: 8px;

      :global {
        & .MuiAlert-message {
          font-size: 12px;
          padding: 0 !important;
          display: flex;
          align-items: center;
        }
      }
    }

    &-block {
      margin: 1px !important;
      width: calc(100% - 2px) !important;
    }
  }
}

.tutorial__btn {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
