.screen {
  padding: 0 0;
  padding-bottom: 24px;

  .toolbar {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 6px;

    .username {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 4px;

      .copy__button {
        gap: 8px;
        color: var(--color-text);
      }
    }
  }

  .achi__area {
    margin-top: 20px;

    .achievements {
      margin-top: 12px;

      .achi__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
        padding: 16px;
      }
    }
  }

  .stats__area {
    margin-top: 10px;
    //background: rgba(133, 39, 212, 0.1);
    //stroke-width: 1px;
    //stroke: rgba(133, 39, 212, 0.3);
    //box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    .items__tabs {
      width: 100%;
      margin-bottom: 10px;
      padding: 0 12px;
    }
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 16px;
}
