.marketItem {
  position: relative;
  display: flex;
  flex-direction: column;
  //background-color: var(--color-bg);

  &_owned {
    position: absolute;
    inset: 0;
    border: 1px solid #07aa34;
    z-index: 2;
    pointer-events: none;
    user-select: none;
  }

  .favorites__btn {
    position: absolute;
    top: 4px;
    right: 4px;
    outline: none;
    height: 30px;
    border: transparent;
    background: transparent;
    z-index: 2;
  }

  &__preview {
    position: relative;
  }

  &__image {
    width: 100%;
    height: 126px;
    object-fit: cover;
  }

  &__dividerBox {
    position: relative;
  }

  &__divider {
    margin: 0;
  }

  &__rarity {
    position: absolute;
    left: 8px;
    top: 0;
    transform: translateY(-50%);
  }

  &__type {
    position: absolute;
    right: 8px;
    top: 0;
    transform: translateY(-50%);
  }

  &__content {
    padding: 0 8px 8px;
  }

  &__title {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;

    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__infoPrices {
    display: flex;
    align-items: center;
    gap: 6px;

    .network__icon {
      width: 16px;
      height: 16px;
    }
  }

  &__priceBox {
    display: flex;
    flex-direction: column;

    max-width: calc(100% - 45px);
  }

  &__priceSgb {
    margin: 0;
    min-width: 88px;
    font-size: 11px;
    word-break: break-all;

    & > span {
      white-space: nowrap;
    }
  }

  &__priceUsd {
    font-size: 10px;
    line-height: 14px;
    opacity: 0.5;
    margin: 0;
  }
}
