.footer__tutorial {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .btns {
    display: flex;
    gap: 16px;
    //background-color: var(--color-bg);
    padding: 16px 16px 32px;
    z-index: 10000;

    & > * {
      flex: 1;
      flex-basis: calc(50% - 8px);
      width: calc(50% - 8px);
    }
  }
}
