.miner__drone {
  overflow: hidden;

  .heading {
    text-align: center;

    .description {
      color: var(--color-text-light);
      margin-top: 5px;
    }
  }
  .content {
    margin-top: 6px;
    border: 1px solid rgba(133, 39, 212, 0.5);
    //background: #8527d41a;
    border-radius: 12px;
    overflow: hidden;

    .breadwinner__container {
      margin-top: 6px;
      //background: #09203c;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      padding: 11px 16px;
      box-shadow: 0px 1px 0px 0px #ffffff08 inset;

      .breadwinner {
        .breadwinner__inner {
          margin-top: 11px;
          display: grid;
          grid-gap: 14px;
          grid-template-columns: 1fr 2fr;

          .breadwinner__left {
            .take {
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 12px;
              width: 100%;
            }
          }

          .breadwinner__right {
            display: flex;
            flex-direction: column;
            gap: 10px;

            .label {
              color: var(--color-text-light);
            }
          }
        }
      }
    }
  }

  .nft__slots {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
    background-size: contain;
    padding: 0px 3px;

    & > * {
      flex-basis: calc(25% - 9px);
    }
  }
}

.leveling {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 11px;
}

.btns {
  display: flex;
  gap: 16px;
  //background-color: var(--color-bg);
  padding: 0 16px 32px;
  z-index: 10000;

  & > * {
    flex: 1;
    flex-basis: calc(50% - 8px);
    width: calc(50% - 8px);
  }
}

.skeleton {
  border-radius: 14px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
}
.skeleton__progress {
  border-radius: 14px;
  height: 24px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
}
.head__skeleton {
  border-radius: 16px;
  height: 80px;
  padding: 12px;
}
.skeleton__AutoClaim {
  border-radius: 14px;
  height: 20px;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.03) inset;
}
