@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.walletPopup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &-overlay {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    animation: fadeIn 0.5s forwards;
  }
  &-container {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 16px;
      font-weight: 900;
      margin: 0 0 8px;
    }

    & > p {
      font-size: 12px;
      color: var(--color-text-light);
      text-align: center;
    }
  }
}
