.root {
}

.add {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-main);
  border-radius: var(--radius-panel);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  font-size: 32px;
  color: var(--color-button-text);

  &:hover {
    background-color: var(--color-main-hover);
  }
}
