@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(3px);
  }
  50% {
    transform: translateX(-3px);
  }
  75% {
    transform: translateX(3px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes backInUp {
  0% {
    transform: translateY(1200px);
  }
  90% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.wrap {
}

.chest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img {
    width: 50vw;
    animation: horizontal-shaking 0.15s linear infinite;
  }
  button {
    width: 100%;
  }
}

.drop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 101;
  background: rgba(0, 0, 0, 1);
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 2s;
  animation-timing-function: ease;
  padding: 20px 15px;

  &-card {
    z-index: 103;
    animation-name: backInUp;
    animation-duration: 1s;
    animation-timing-function: linear;
  }
  &-text {
    z-index: 104;
  }
  &-button {
    z-index: 105;
    margin-bottom: 12px;
    animation-name: fadeIn;
    animation-duration: 6s;
    animation-timing-function: ease;
    width: 100%;
  }
  &-particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: -100px;
    left: 0;
    z-index: 102;
  }
}
