.root {
}

.content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.switchIcon {
  transform: rotate(90deg);
}

.rate {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.actions {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
