.user__placeCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 4px;
  padding: 16px;
  border-top: 1px solid rgba(126, 161, 202, 0.03);

  &.user__current {
    //background: #361f6e;
  }

  &[aria-label='false'] {
    //background: #361f6e;
    //opacity: 0.5;
  }

  .col {
    display: flex;
    align-items: center;
    overflow: hidden;

    .wrap {
      display: flex;
      align-items: center;
      gap: 10px;

      .user__info {
        .balance {
          display: flex;
          align-items: center;
          gap: 7px;
          //color: var(--color-text-light);

          .pixel {
            width: 22px;
            height: 22px;
          }

          .percent {
            //color: #a62cff;
          }
        }
      }
    }

    .points {
      //color: var(--color-primary);
    }
  }
}
