.root {
  max-height: 75vh;
}

.title {
  text-align: center;
}

.summary {
  background-color: var(--color-panel);
  border-radius: 16px;

  margin-top: 8px;
  margin-bottom: 8px;
  padding: 18px 16px;
  text-align: center;

  display: flex;
  flex-direction: column;
  gap: 6px;
}

.caption {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;

  margin-top: 12px;
  color: #7ea1ca;
  display: block;
}

.help {
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #7ea1ca;
  margin-top: 12px;

  display: block;
}

.helpBox {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-bottom: 24px;
}

.button {
  margin-top: 12px;
}

.isOkx {
  min-height: 75vh;
}
